[2013-11-03 06:08] mirisuzanne opened #4 "Use inspect($value) for maps"
Currently we're doing our own strange map-to-string parsing.

[2013-11-14 03:19] eoneill opened #6 "include description of the failed tests"
Just started using **True** and I'm most impressed!

The one thing I'd like to see (for debugging purposes) is to indicate which test failed.

For example (using 0.2.0.rc.3)...

[code]

results in:

[code]

A hint as to which test failed would be incredibly useful. Maybe something like...

[code]

This is especially useful when looking at failures in travis-ci.

Lemme know what you think, happy to

[2014-02-07 21:14] samusgray opened #7 "Percent !+ percent"
Hi Eric,

I really enjoy using True. Thanks for making it rock.

It's possible that I'm testing this Sass mixin wrong, but it doesn't seem to do what I expect when asserting equivalence between two integer percentages.
## Function to test:

[code]
## True test

[code]
## Terminal output from 'compass watch'

[code]

I've tried adding single and double quotes around the value "50.42017%". I've trie

[2014-02-12 05:08] #7 closed, assigned to nobody

[2014-03-21 04:32] samusgray opened #9 "Include Assert Strict Equals"
Hey Eric,

The `assert-equals()` function currently returns true for this function, even though the test values are different.

[code]

An `assert-strict-equals()` to test the difference would be helpful. Let me know if I can help implement this.

[2014-07-27 10:59] babsgosgens opened #11 "zip() breaks compilation"
I have a function that utilises sass's zip() function. When I compile the code (with compass) without tests, no errors occur. However, when I use the function inside the test (or test-module) mixin, the compilation breaks.

It seems to narrow down to the @content yield, looks like it cannot process the zip function. Is this something you would consider solving, or can you suggest a work-around tha

[2014-07-27 11:28] #11 closed, assigned to nobody

[2014-10-03 19:21] #4 closed, assigned to nobody

[2014-10-03 19:22] #9 closed, assigned to nobody

[2014-10-03 20:24] #6 closed, assigned to nobody

[2014-10-04 20:28] scottdavis opened #17 "Compairing 2 lists is failing with assert-equal"
[code]

[code]

[2014-10-06 23:28] #17 closed, assigned to nobody

[2014-10-14 21:13] scottdavis opened #18 "assert-equal expected is not first argument"
First argument should be the expected value.

examples from other frameworks:

* http://ruby-doc.org/stdlib-2.0/libdoc/test/unit/rdoc/Test/Unit/Assertions.html#method-i-assert_equal
* http://junit.sourceforge.net/javadoc/org/junit/Assert.html#assertArrayEquals(char[], char[])
* https://phpunit.de/manual/current/en/appendixes.assertions.html#appendixes.assertions.assertEquals
* https://docs.python.

[2014-12-30 10:29] HugoGiraudel opened #22 "Quoting strings"
I am currently reviewing True's code to understand how it works, and it occurred to me it would be easier to read if strings were quoted.

If you feel like it would be nice to have all strings quoted, I would be happy to submit a pull request doing just that, @ericam. :)

[2014-12-30 10:32] HugoGiraudel opened #23 "Consider using SassDoc"
I don't see any documentation system currently in used for True.

If you want to give [SassDoc](http://sassdoc.com) a try, I am cool with writing all the comments in a pull request. Just tell me.

[2015-01-08 19:30] ericam commented on #23
I would be interested. Thanks!

[2015-01-08 19:33] ericam commented on #22
hmmmm, I tend to think of quotes as clutter — like adding `()` to all your lists. But if you made a PR, I probably wouldn't reject it. :)

[2015-01-08 19:49] ericam commented on #18
Interesting. My approach was initially based on QUnit: http://api.qunitjs.com/equal/

And we're not alone:
- https://github.com/thejameskyle/bootcamp/blob/master/dist/core/mixins/_should.scss
- http://angular.github.io/protractor/#/
- http://jasmine.github.io/2.1/introduction.html
- http://mochajs.org/#assertions

I think we're in good company?

[2015-01-08 19:50] ericam commented on #18
(several of those are BDD style, which I think we could easily add support for, as we've discussed.

[2015-01-08 19:58] HugoGiraudel commented on #23
I'll do it. ;)

[2015-01-08 19:58] HugoGiraudel commented on #22
I'll give it a go. ;)

[2015-02-02 14:59] zhigang1992 opened #25 "iit, xit, and before/after blocks"
##### Before After Blockes?

##### `iit` and `xit` like feature?

[2015-02-02 17:45] ericam commented on #25
Before/After Blocks
--------------------------

I assume the before/after blocks would be used for setting/resetting global variables? That may be possible. It would look something like this:

[code]

We could also accept setup/before arguments in the `test-module` or `test` mixins, and do automatic teardown at the end of the block.

[code]

`iit` and `xit`
----------------

If I understand these

[2015-02-15 00:29] bgriffith opened #26 "Libsass support?"
Hey, this is a really great project. I can get it working great with ruby sass but as all our projects are now using Libsass, is there any way to get it working with it?

When I try to compile with the latest Libsass and by using node-sass 2.0.1 & grunt-sass 18.0.0, I get the following;

[code]
Any ideas / info / suggestions?

[2015-02-15 02:16] ericam commented on #26
Upgrade to the beta release of True. `2.2.0-beta` supports libsass.

[2015-02-15 10:32] bgriffith commented on #26
Great thanks! Works perfect now - keep it up!

[2015-02-15 10:32] #26 closed

[2015-04-18 23:26] eddie-ruva opened #27 "Running true-cli with node-sass"
I recently installed sass-true through npm. Everything has been working correctly but I'm just not able to use the cli without having to depend in ruby sass. I would love to help in adapt the cli functionality with node-sass and was wondering if a PR into this project would be helpful or if it makes more sense to create another npm package that only has the cli functionality. Any input in this wou

[2015-04-20 16:02] carljm commented on #27
Hi,

So the documentation hasn't quite caught up here yet, but the idea is that rather than having a dedicated node-sass-based CLI runner for True, it instead integrates with an existing Node-based test runner (so far just Mocha, but support for others could be added). You can see an example of how that works with Mocha in True's own tests; the file `test/test_sass.js` runs the True tests in `test

[2015-04-20 16:06] ericam commented on #27
Yep, I'm happy for the PR if people would still find that useful apart from the Mocha integration.

[2015-05-06 01:20] greaterweb commented on #26
@ericam are you able to provide an update as to the status of 2.0.0 and when we might expect it to come out of beta?

Thanks!

[2015-05-09 22:20] ericam commented on #27
`v2.0.1` includes full mocha support. Closing this for now, unless there is a strong desire for true-cli to also support node-sass.

[2015-05-09 22:20] #27 closed

[2015-05-10 18:52] HugoGiraudel commented on #23
I recommend you move the SassDoc generated documentation somewhere in the `gh-pages` branch?

[2015-05-11 10:10] rootical commented on #26
@greaterweb, @ericam hands up. We are waiting for it.

[2015-05-11 15:28] ericam commented on #26
Yes, sorry - released it over the weekend! More upgrades on the way...

[2015-05-11 16:17] greaterweb commented on #26
Thank you for your efforts @ericam, much appreciated!

[2015-05-12 05:39] eddie-ruva commented on #27
@ericam @carljm  Sorry I did not respond on time for this. Running the tests with mocha works for what I was trying to do actually and it makes perfect sense. Thanks for the awesome work on this! :smiley:

[2015-06-03 10:54] HugoGiraudel commented on #23
I suppose we can close. :)

[2015-06-03 10:54] #23 closed

[2015-06-04 08:13] Undistraction opened #31 "Feature Request: Support For Testing @errors"
Some kind of support for testing @errors is needed.

I got around Sass's limitations when using Bootcamp by having anything under test trigger all errors through an error function:

From each library being tested I'd pass all errors through this function rather than throwing them directly:

[code]

Then before each assertion:

[code]

Which resets the trapping of errors:

[code]

This then allows

[2015-06-04 13:00] Undistraction opened #32 "Feature Request: Support for nested blocks"
I think tests would be clearer if there was the ability to nest blocks as in rspec where `describe` blocks can be nested to more clearly group assertions. Currently assertions can only be grouped within `test` blocks which makes it hard to group different assertions; for example testing sets of different units into the same mixin or function.

[2015-06-06 10:56] utis opened #33 "Testing mixins with true-cli"
Unless I'm horribly misunderstanding the intent and purpose of mixin tests, it seems that it's currently not working when tests are run with true-cli rather than mocha. Example file:

[code]

Running this test with true-cli yields:

[code]

No actual comparision of output and expected output is taking place.

[2015-06-06 11:03] utis opened #34 "Error when running failing tests with true-cli"
If an assertion in a test fails, running the test with true-cli runs into an obscure error rather than providing useful information. Example:

    @import "true";

    @include test-module('An example') {
        @include test('foo-bar [mixin]') {
        @include assert-equal(1, 2, 'lala');
        }
    }

    @include report(true);

Running this with true-cli yields:

    ./src/contrib/true/bin

[2015-06-08 14:29] DominicBarnard opened #35 "Problems getting working with eyeglass modules."
Trying to get this working with a sass library that imports eyeglass modules I've come across a couple of problems.  I've set up a [minimum project to test this out](https://github.com/DominicBarnard/test-true-eyeglass).

Mainly the problem is that the eyeglass custom importer function which resolves import statements loads files asynchronously which conflicts with true using sass renderSync causi

[2015-06-08 17:36] chriseppstein commented on #35
Investigating. https://github.com/ericam/true/commit/b569be3bf3681b147d03538e460fc484d102e552 fixes the `@import` naming issue.

[2015-06-08 17:43] ericam commented on #34
@scottdavis Can you look into this?

[2015-06-08 17:44] ericam commented on #33
Yeah - `true-cli` isn't yet smart enough to parse the output, so it just let's you know they are there. You can compare them visually in the CSS. Our mocha integration is smarter, and will compare them for you. Always more to do! :)

[2015-06-08 17:47] ericam commented on #32
how is this different from using `test-module` to group tests?

[2015-06-08 17:51] ericam commented on #31
I'm not sure if I understand the full use-case here — would before/after options take care of it?

[2015-06-08 18:07] DominicBarnard commented on #35
how about something like this [da2a60f7](https://github.com/DominicBarnard/true/commit/da2a60f7b8e5e72ef2208cb39d34d0fb28d69fc7)

[2015-06-08 18:10] DominicBarnard commented on #35
If we pull out the section that prints the results and make it available as a separate method it's more flexible for different scenarios because you can render the tests to css anyway you like (maybe manipulate them for some reason) then just have the results printed out which is the main purpose of the module in the end.

[2015-06-08 19:11] utis commented on #33
I see. Thank you, this confirmation gives me some peace of mind. So, I suppose if I want this but not mocha, I have to get me some ruby skills, eh? I guess a simple string comparision after whitespace normalization should be doable.

[2015-06-08 19:20] DominicBarnard commented on #35
[my attempt](https://github.com/ericam/true/pull/36)

[2015-06-08 19:28] Undistraction commented on #32
I only get output from the inner-most `test-module`:

[code]

Output:

[code]

Expected:

[code]

Or

[code]

[2015-06-08 20:11] Undistraction commented on #31
Some kind of per-test setup / teardown would be great, but given that there is no way of testing actual errors, and that errors are so fundamental to testing, I think it's worth thinking about adding some kind of simple API that helps libs test errors. In my example above, an `$under-test` switch can be flipped, causing the first error that would have been triggered to instead be stored to a `$las

[2015-06-10 01:30] ericam commented on #33
That's beyond me. :) @scottdavis built the CLI, and @carljm built the Mocha integration — maybe they would have some insight.

[2015-06-10 18:01] carljm commented on #33
@utis The node-sass integration uses a real CSS parser to parse the output CSS to a syntax-tree format, and then render it back out as normalized CSS and do a string compare on that. I'm sure there are Ruby libs that can do the same. You might be able to get it to work using a hackier approach (just some simple whitespace normalization and assume everything else should match as-is), but personally

[2015-06-11 19:55] utis commented on #33
Unless I'm completely misunderstanding something, we already have that with the sass gem. I browsed the spec a little and something like the following seems to get the data needed:

    # Putting this into true-cli
    ARGV.each do |file|
      sass_engine = Sass::Engine.for_file(file, {})
      # Use .to_tree rather than .render.
      tree = sass_engine.to_tree

      # Generate a "static CSS tr

[2015-06-11 20:28] carljm commented on #33
@utis I'm in the same boat as far as Ruby familiarity. It does look like the Sass gem has what you'd need, though. I'd guess I could probably take it from there to fix up `true-cli` for output comparisons, but I doubt I'll get to it since we're using node-sass on all our projects now.

[2015-06-12 08:03] DominicBarnard commented on #35
issue is with https://github.com/sass/node-sass/issues/997

[2015-06-12 08:03] #35 closed

[2015-06-17 14:44] utis commented on #33
I went ahead and more or less translated the logic from lib/main.js to ruby:

https://github.com/utis/true/blob/iss33-tru-cli-mixins/bin/true-cli

I'll send you what I understand is  a "pull request" as soon as I have tested it some more. (I'm new to this on github.)

[2015-06-19 09:01] utis opened #38 "lib/main.js: Dealing with media queries"
For example:

    @import "true";

    $breakpoints: (mini: 200, medium: 900, large: 600);

    @mixin respond-to($break) {
        @media screen and (min-width: #{map-get($breakpoints, $break) * 1px}) {
            @content
        }
    }

    @include test-module('Media queries') {

        @include test('respond-to [mixin]') {
            @include assert('') {
                @include input {

[2015-06-19 09:23] avetisk opened #39 "fix documentation"
`var true = ...` (https://github.com/ericam/true#with-node-sass-and-mocha-or-other-js-test-runners)

You are using a keyword, which will always throw an error.

[2015-06-19 10:09] utis commented on #38
Wait! There's no guarantee that rules with .input in its selectors come before rules with .expect, right?

OTOH, parseSelector in lib/main.js and it's equivalent parse_selector that I've written for true-cli both return the selector info as a record type data structure. So, they could just check for a media query, look for the selector one level deeper and add the media query statement as an entry

[2015-06-19 16:49] #34 closed

[2015-06-19 17:10] #39 closed

[2015-06-22 13:25] prisis opened #40 "True with jasmine"
Hey :),
can someone tell me, how i can use true with jasmine?

[2015-06-23 17:28] carljm commented on #40
Because `describe` and `it` are used the same in Jasmine as in Mocha, the Mocha example should Just Work if you run it with Jasmine instead. If not, you may need to dig into the `runSass` implementation to figure out how it needs to be adapted to work with Jasmine, and submit a PR.

[2015-06-23 18:51] prisis commented on #40
Okay, I will try tomorrow :)

[2015-06-30 22:47] #40 closed

[2015-07-23 01:02] teddybradford opened #42 "Error: Rule expected but ">" found."
I get an error when I try to run a test on the following Sass mixin:

[code]

It seems that the parser doesn't like the child selector. Is this not supported or am I missing something?

I'm using sass-true with mocha.

[2015-07-23 01:41] ericam commented on #42
That's right, the parser is currently pretty limited in terms of selector manipulation. I'd love to get that fixed, but don't have a good proposal in mind at this point.

[2015-08-05 15:55] MakhBeth opened #43 "Media Queries are computed as 'undefined'"
Hello,
I'm trying to test some media queries and I've some issues about it.

Here an example:
[code]

When I run mocha, I receive this output
```"undefined" equal "display: none;"```

[2015-08-10 17:59] ericam commented on #43
Yeah, our parser isn't smart enough to handle media-queries (or any other changes to the selector chain) yet. I'd like to get that fixed in future versions.

[2015-09-16 06:35] ThomasR opened #44 "Floating point numbers cause incorrect test results"
This simple test

    @include assert-equal(.1 + .2, .3, '.3 and .3 should be equal.');

results in the following output:

    DEBUG: [FAIL] Simple assertions » .3 and .3 should be equal.
    DEBUG: Expected number »
    DEBUG: 0.3
    DEBUG: Returned number »
    DEBUG: 0.3
    …
    -result: FAIL;
    -description: ".3 and .3 should be equal.";
    -expected--number: 0.3;
    -returned--number:

[2015-09-16 18:55] ericam commented on #44
I'd like input from @chriseppstein, @nex3, or @xzyfer on how something like this is best addressed. It seems to me like a Sass issue, and not something we should have to work around on our end.

[2015-09-16 20:56] ThomasR commented on #44
Sass will have to apply rounding at some point.
The problem here is not the rounding error as such, but the mixture of Sass's output and its internal representation of the values.

Maybe this is a better example:
[code]
So, there's basically two parts of the problem:

1. `assert-equal()` behaves differently from `assert()` in that it inspects Sass's intermediate values rather than the output. This

[2015-09-18 19:50] nex3 commented on #44
Chris fixed this in sass/sass@cc96f0c85d5ec09324e9158585c23ddbe922b2ab, which has been released as 3.4.19.

[2015-09-19 15:50] ericam commented on #44
Thanks @nex3!

[2015-09-19 15:50] #44 closed

[2015-10-09 20:50] manuelitox opened #46 "Tests counter is stopped on 686 tests"
Hi,

The counter is stopped at 686 tests. If I try add new tests the counter isn't update.
![screen shot 2015-10-09 at 16 18 28](https://cloud.githubusercontent.com/assets/1015570/10405240/72fa8822-6ea1-11e5-99db-c54d53a19748.png)

I'm using Sass (3.4.18) for generate the report.

The version Sass-true is 2.0.2.

Any idea?

[2015-10-09 21:47] manuelitox commented on #46
I'm Sorry, It was my mistake.

I go to close this ticket.

[2015-10-09 21:47] #46 closed

[2015-10-16 14:29] HugoGiraudel commented on #22
Done in v3.

[2015-10-16 15:40] ericam commented on #22
@HugoGiraudel I think you are confusing Susy and True. Maybe it is time for a True v3 though?

[2015-11-04 02:42] kaelig opened #48 "Project's URL (http://ericsuzanne.com/true/) redirects to http://www.miriamsuzanne.com/…"
…instead of http://www.miriamsuzanne.com/true/

[2015-12-22 12:36] ffoodd commented on #48
I think the actual URL is now http://oddbird.net/true/

[2015-12-22 18:23] mirisuzanne commented on #48
If you mean the URL here on github, it's been fixed.

[2015-12-22 18:23] #48 closed

[2015-12-22 18:31] mirisuzanne commented on #48
I mean, I fixed the project URL - I haven't fixed any redirect issues. I'll look into that.

[2016-04-29 06:47] lunelson opened #50 "problems with call()"
Not sure where the problem lies, but the following test does not work though it should:

[code]

Using `call()` on its own does work, but not as invoked above. The `apply()` function does work as expected in other use.

[2016-04-29 06:56] mirisuzanne commented on #50
I think this is a libsass bug. It passes when I run it in Ruby Sass, and fails in Libsass. @xzyfer, any thoughts? Here's the output:

[code]

[2016-04-29 06:58] mirisuzanne commented on #50
Technically, you can't define `foo()` in a nested context. The fact that you are doing that tells me you might be on an old version of libsass/node-sass. Try upgrading?

[2016-04-29 07:12] lunelson commented on #50
Okay I was at `sass-true v.2.0.2` so I re-installed and I got `node-sass v3.6.0`. Also moved the `foo()`declaration outside the test block, although it wasn't feeding back any error. Test with `apply()` is still failing however, with the same error, after those changes.

[2016-04-29 07:20] mirisuzanne commented on #50
ok — still looks like a libsass bug because it doesn't happen in Ruby. We do also need to update True to depend on the latest node-sass...

[2016-04-29 07:28] mirisuzanne commented on #50
Yeah, updating LibSass doesn't make a difference. But I get the same bad return anywhere I try to `apply(foo 1 2 3)` ([without True involved](http://www.sassmeister.com/gist/e466571b9b06eba67924bb4c336a004b)).

[2016-04-29 07:51] lunelson commented on #50
Okay, it's a libsass regression. Can't pinpoint the exact version but somewhere in the last few minor bumps. I use a Sublime Text libsass build plugin that was using 3.3.4 I think. But I updated its dependencies today and that code is now failing. I've filed an issue at libsass. Thanks for your help.

https://github.com/sass/libsass/issues/2057

[2016-04-29 07:51] #50 closed

[2016-06-30 10:16] danielguillan commented on #43
Any idea on how to workaround this limitation or have any plans to fix it? I'm working on a handful of Sass libraries that do selector manipulation extensively and I'm unable to test them properly. I'd be glad to help finding a fix for this.

[2016-07-08 08:18] weaintplastic opened #55 "Multiline comments break tests"
Hi,
since updating to version 2.1.0 my tests are failing.

The reason for this are multiline comments that I'm using to document my functions and mixins that I'm about to test.

For a function like this:
[code]

and executing a test like this:
[code]

will result in the following error:
[code]

Hope you can find a way not forcing me to put '# Module: ' in my comments.

[2016-07-08 11:08] CupOfTea696 opened #57 "Output number of assertions"
It would be nice to output the number of assertions made in the report.

[2016-07-08 15:52] mirisuzanne commented on #57
You mean a total number of assertions across all your tests? Can you say more about why that would be helpful?

[2016-07-08 17:11] mirisuzanne commented on #55
Hi @weaintplastic - thanks for posting this. I made a minor release, when it should have been major in retrospect. That's my mistake.

You certainly shouldn't be putting `# Module` in you comments, as that will confuse the parser. I think we have to make two changes here:

1. Meaningful comments (created by True, and used by the parser) should be marked explicitly. @carljm would it work to add the

[2016-07-08 17:11] mirisuzanne commented on #43
This has been addressed in the latest releases

[2016-07-08 17:11] #43 closed

[2016-07-08 17:19] carljm commented on #55
Yeah, we can ignore all comments that don't have a certain marker at the end of lines.

Regarding un-marked comments "treated as CSS for the purposes of output assertions", I'll have to look at how feasible that is. I was thinking we'd just ignore them. Do we really want to make people include loud comments in their asserted output?

[2016-07-08 18:11] CupOfTea696 commented on #57
Yes, that's what I mean. And it's just an interesting stat really.

[2016-07-08 18:19] mirisuzanne commented on #55
What I meant is that currently our output comparison tests compare *everything* inside the `/*   OUTPUT   */` and `/*   EXPECTED   */` blocks, including loud comments. That means you can test loud comment output, if you need to. Say, hypothetically, you are building a tool that outputs meaningful comments, and you want to test that...

I was not proposing a new feature, only that output comparison

[2016-07-08 23:11] mirisuzanne commented on #57
Great! Maybe something that can be turned on or off with a setting?

I'm open to a pull request, but this probably wont be a top priority for me.

[2016-07-10 09:28] CupOfTea696 commented on #57
Yeah a setting would be great. I might do a PR if I have some time.

[2016-07-16 22:45] carljm commented on #55
I didn't implement the end-line marker at this point; it may be a good idea, but it's not strictly necessary to fix this. That's really a fix for a separate (still-hypothetical) problem: people with their own loud comments whose structure matches something we use and parse.

[2016-07-17 18:55] esr360 opened #60 "Error when using with grunt "Unexpected rule type "rule"; looking for module header""
I'm still unsure if this is an error with my code, but I believe I have everything set up correctly.

I'm trying to run tests using Mocha and Grunt, but I'm getting an error. Here is the relevant information generated on the terminal:

[code]

It appears from line 2 as though the tests were run and passed, but I can't figure out why this might be happening.

[2016-07-17 19:03] carljm commented on #60
Can you paste the full CSS output from the tests?

[2016-07-17 19:14] esr360 commented on #60
Thanks for the swift reply. I couldn't actually find a generated CSS file anywhere, but when running the tests manually I get the following output:

[code]

[2016-07-17 19:17] mirisuzanne commented on #60
Can you also paste the `breakpoint`-module tests?

[2016-07-17 19:18] esr360 commented on #60
Sure:

[code]

[2016-07-18 01:09] #32 closed

[2016-07-18 01:16] #55 closed

[2016-07-18 01:39] mirisuzanne commented on #60
@carljm did you already address this issue in one of the other branches I merged? I can't reproduce this on master.

[2016-07-18 01:53] mirisuzanne commented on #42
This should be fixed in the latest versions.

[2016-07-18 01:53] #42 closed

[2016-07-18 01:54] mirisuzanne commented on #38
We changed the output syntax to address this issue, but that also means your cli parser will need to be updated.

[2016-07-18 01:54] #38 closed

[2016-07-18 01:57] mirisuzanne commented on #33
See PR #41 — needs updating to use the new output syntax.

[2016-07-18 07:10] mirisuzanne commented on #31
I'm still interested in this, but not sure how it would be done. I don't think it's possible in pure Sass, without help from either the tested library using special error functions internally (like above?), or the test-runner/parser hijacking errors. I'm open to ideas. If that mixin is built into the library, though, I'm not sure why we would also build it into True. Libraries can do this internal

[2016-07-18 07:11] #18 closed

[2016-07-18 07:22] mirisuzanne opened #61 "Complete SassDoc documentation"

[2016-07-19 16:18] carljm commented on #60
@mirisuzanne With the given output CSS, I can reproduce a failure to parse in earlier versions of true (specifically in 2e51a891a1, the last version before this week's merges), though the error I get is different: `Error: Line 4, column 1: Unexpected comment "✔"; looking for module header`.

With latest master, this output CSS successfully parses, but the test has no pass/fail status.

The problem

[2016-07-19 16:30] mirisuzanne commented on #60
@carljm Yeah, I figured that was the problem. I did add default descriptions yesterday, as a fix for this specific case (5870fe0173e3221).

- This solution still allows you to override the default with an empty message, which we should not allow if that breaks the parser.
- There is probably a better default to use. Maybe the test description should be used, if no assertion description is passed i

[2016-07-19 16:53] carljm commented on #60
Your call on the best default description, and on whether to allow or disallow empty. It'd certainly be possible to fix the parser to allow an empty description, if you prefer that.

[2016-07-20 18:49] mirisuzanne commented on #60
@carljm I'd love to solve it on both ends :)

[2016-07-21 00:20] carljm commented on #60
@mirisuzanne Alrighty then! Parser end is solved in #62.

[2016-07-21 17:57] mirisuzanne commented on #60
Defaults added in 1254903

[2016-07-21 17:57] #60 closed

[2016-07-21 19:55] mirisuzanne commented on #22
I did a final sweep. All strings should be quoted now. I wish we could lint for that.

[2016-07-21 19:55] #22 closed

[2016-07-22 07:18] tristanlins opened #64 "Mocha does not terminate"
I created a test as described here: https://github.com/oddbird/true#usage

But when I run "mocha" or "npm test", the process does not terminate :-(

[code]

After the "5 passing" the cursor blinks and mocha does not terminate.
Not sure if this is a mocha or true issue?!

-----

Here are my test sources:

`package.json`

[code]

`test/test_sass.js`

[code]

`test/test_sass.scss`

[code]

`test/func

[2016-07-22 17:14] carljm commented on #64
Can you try to simplify this down to the smallest possible reproduction case? I.e. remove anything that might be extraneous (winston, custom importer, each individual test) to see if you can narrow down the cause? Thanks.

[2016-07-22 17:31] mirisuzanne commented on #64
You might also try running the tests without Mocha (compile with sass manually), to see if there is an issue in the Sass compilation.

[2016-07-27 11:05] tristanlins commented on #64
After testing around and write minimal examples, I find out that mocha have a problem, if there are arbitary `*.js` files (like my `importer.js`) lies in the `/test/` directory...
After moving them away or run `mocha test/test_sass`, it terminates normally.

[2016-07-27 11:05] #64 closed

[2016-07-27 11:06] tristanlins commented on #64
BTW sass-true is a nice tool <3

[2016-08-01 16:38] rousso1 opened #65 "assertions do not work if mixin uses parent selector"
when using a parent selector in a mixin, the test explode without a reason.
getting "Warning: Can't understand selector"

 e.g:

[code]

[2016-08-01 16:44] mirisuzanne commented on #65
Yes, that was a known issue, and was noted in the documentation: http://oddbird.net/true/

But it should be fixed in the latest version. What version are you on?

[2016-08-01 17:19] rousso1 commented on #65
2.0.3

[2016-08-02 19:14] mirisuzanne commented on #65
Try upgrading to 2.1.2

[2016-08-05 09:24] weaintplastic commented on #55
Hey. So sorry not being able to update the package until today.
With version 2.1.2 and the scenario above it is still failing with the same error message.

[2016-08-05 16:30] mirisuzanne commented on #55
Looks like I didn't do a release of this fix. I can confirm that 2.1.2 fails for me as well, but 2.1.3 works.

[2016-08-08 22:22] tymondesigns opened #68 "[bug] cannot parse escaped class names"
It seems that the parser cannot handle escaped class names such as:
`.u-1\/2 { width: 50%; }`

The following error is output from the terminal:

[code]

Is this a known issue at the moment?

[2016-08-08 22:28] mirisuzanne commented on #68
I don't think it was known, but I don't think we maintain the CSS-parser itself. @carljm could comment on that. Can you explain the use-case for `\/` in a class name? Is that valid CSS?

[2016-08-08 22:30] tymondesigns commented on #68
Yea perfectly valid css - the class name I referenced above would be used as:
[code]

[2016-08-08 22:40] mirisuzanne commented on #68
The escape character is for Sass, I assume, and shouldn't make it to our parser at all? The Sass output you are looking for (and should be getting) is `u-1/2`?

(I tried getting that output with string interpolation `#{'.u-1/2'}` instead of the escape character, and got a very strange error about mis-use of the parent selector. That seems like a Sass bug...)

[2016-08-08 22:49] tymondesigns commented on #68
Sass shouldn't output `.u-1/2` as that would be invalid css. `.u-1\/2` is indeed the expected output, and is valid css as per http://csslint.net for example.

So that should be handled within a plain CSS parser... unless I'm missing something

[2016-08-08 23:38] carljm commented on #68
True is just using https://www.npmjs.com/package/css and https://www.npmjs.com/package/css-selector-parser - may be a bug in one of them, but I don't think anything True is doing cares about the characters used in selectors.

There are other Node packages for CSS parsing, if one of them does what we need and doesn't have this bug, a PR to switch would be fine too.

[2016-08-09 05:02] mirisuzanne commented on #68
Guess I learned something new about CSS today. :)

Though the escape character kinda ruins all the readability gains in my mind, so I'll probably never use it...

[2016-08-09 16:51] anselmh commented on #68
I think it’s an issue in https://www.npmjs.com/package/css-selector-parser since their tests fail when entering `.u-1/2` as a test case. I filed an issue over there since their test suite fails when trying to use such a class in there: https://github.com/mdevils/node-css-selector-parser/issues/13 — for those who’re interested.

[2016-08-11 00:47] esr360 commented on #60
So with the latest version (2.1.3) I'm now getting the following:

[code]

[2016-08-12 17:18] mirisuzanne commented on #60
061b331 fixes a bug in the default assertion messages.

[2016-08-17 06:36] carljm commented on #60
@esr360 can you a) open a new issue, since this seems like a different problem, and b) provide a minimal reproduction case? Thanks.

[2016-09-23 21:19] wlonk opened #71 "Report useful error if `@import assert` missing."
Spent too much time trying to get some tests working that were just malformed.

[2016-09-23 21:20] wlonk opened #72 "Include documentation on running with Webpack Sass tilde imports"
We figured this out, but it needs to make it into the documentation.

[2016-09-27 22:15] hinok opened #74 "Iterating over a map by @each ... in ... breaks true."
**Edit 2**
Could you clarify if a file that is tested, should it contain only SASS function and mixin declarations?

---

**Edit**
Small update, the same error appears for that scss

[code]

---

Hey,
I'm digging into `true` and after a few tests I've found a problem. It's not documented but it looks that I can't use `@each` in scss source file. When I remove `@each ... in ...`, everything works.

[2016-09-28 18:05] mirisuzanne commented on #74
@hinok Yes, the error comes from having unexpected css in the output. Our parser isn't handling that well.

@carljm I think we discussed something similar around loud comments, but I don't remember all the implications. Would it be hard for us to ignore CSS that falls outside our expected true-output syntax — or should we document that source files should not have output?

[2016-12-22 18:02] evilebottnawi opened #79 "Release new version with support `node-sass` >= 4"

[2016-12-22 18:19] mirisuzanne commented on #79
https://github.com/oddbird/true/releases/tag/2.1.4

[2016-12-22 18:19] #79 closed

[2017-01-06 00:47] mirisuzanne opened #81 "Unquoted descriptions throw an error"
[code]

We should just force descriptions to string before passing them along

[2017-01-06 01:02] mirisuzanne opened #82 "Assert-false fails on null"
Should it pass, or do we need an `assert-falsey`?

[2017-01-12 15:15] Snugug opened #83 "Fail on Error"
I'm looking to use True with Node Sass (via Gulp) as part of my build pipeline. In order for this to work, though, I need True to throw an error if there are failures. This is needed as the typical workflow for automated testing assumes that if automated tests don't pass, the task running those tests errors out, and that error code signals to the continuous integration system that there are proble

[2017-01-12 15:45] mirisuzanne commented on #83
Either would be easy to do.

We also have Mocha integration for running the tests through node-sass/gulp, which should already error-out at the end. That also allows you to test mixin-output as well as function returns.

[2017-01-30 16:58] ProgrammingJoe commented on #60
I am still getting this error message:

[code]

Was another issue created? Is this going to be fixed?

[2017-02-01 00:59] sir-dunxalot commented on #60
I am also still getting this error:

[code]

Node version: `6.9.2`
Sass-true version: `^2.1.4`

The only assert helper used in tests is assert-equal and it's used as follows:

[code]

You can view the [full test suite here](https://github.com/sir-dunxalot/compass-boilerplate/tree/master/tests).

[2017-02-01 01:03] sir-dunxalot commented on #60
I have been able to work around the issue by capping the `sass-true` version to `2.0.3`.

[2017-02-01 03:45] mirisuzanne commented on #60
@carljm are these all different issues that result in a similar error message? If so, we should rename this issue, and open new ones. I'm not sure how to track these down, since the error is coming from Mocha.

@sir-dunxalot can you do a manual sass compile of the tests (not through mocha) and paste the resulting CSS output? That might help give me some more clues to work with.

[2017-02-01 17:37] carljm commented on #60
Hard to tell if they are the same or different issues without seeing the CSS output. Probably what we need to do is add instructions to that error message for how to generate and see the CSS output, since that will probably make the issue a lot clearer in most cases.

[2017-02-01 17:42] mirisuzanne commented on #60
Good call. As I understand, that error is the parser choking on the output. Any way for it to automatically print the lines around where it failed?

[2017-02-01 17:52] carljm commented on #60
Yeah, actually, that should be possible too.

[2017-02-03 01:18] chrisopedia opened #84 "Test failure when output and expected match"
[code]

Running a test on a function and getting this error when it appears to get the expected

[code]

[2017-02-03 16:31] mirisuzanne commented on #84
Yeah, Sass is a little weird about list comparisons. If you can paste the `opposite-direction` function, I can figure out better what's going on, and why it thinks these are different.

[2017-02-03 19:56] ProgrammingJoe opened #85 "Unexpected rule type "font-face"; looking for module header"
In our SASS files we define the font-face using a bourbon mixin.

`@include font-face(...)`

And then assign that font to a variable and use it where need be.

Using `grunt mochacli` I am getting the error in the title. I imagine true is trying to interpret `@include font-face` font-face as a rule or a test? Do you guys have a workaround for this?

[2017-02-03 21:38] mirisuzanne commented on #85
This is related to #74 (True doesn't like arbitrary output) and would require improvements to the parsing logic used for Mocha. @carljm do you want to weigh in on that? I'd love to see a PR for it, 'cause it's outside my skillset. :p

The workaround right now is that you should only import Sass files without output, and only use mixins inside a test.

[2017-02-04 22:59] chrisopedia commented on #84
[code]

[2017-02-04 23:00] chrisopedia commented on #84
I got it to work but this was what I had to do:

[code]

[2017-02-05 04:00] mirisuzanne commented on #84
I still get `false` when I inspect them, probably because one is comma-delimited and the other is space-delimited? I've been playing around with [this demo on Sassmeister](http://www.sassmeister.com/gist/f613227686b3792e0c3ccb227f16a4f6), but can't figure out the right solution.

[2017-02-05 04:02] mirisuzanne commented on #84
The workaround that makes more sense to me is `$expected: append((), bottom);` — which is the same construction technique used in your function.

[2017-02-08 01:37] mirisuzanne commented on #84
@chriseppstein Thoughts on how we should handle this type of comparison?

[2017-02-08 03:54] mirisuzanne commented on #83
Closed by 2a95e5f — `$fail-on-error` is now an option in the `report()` mixin.

[2017-02-08 03:54] #83 closed

[2017-02-08 04:00] mirisuzanne commented on #82
Fixed in 1d09bc5

[2017-02-08 04:00] #82 closed

[2017-02-08 04:23] mirisuzanne opened #87 "True isn't counting results correctly"
The results map isn't being properly and consistently updated.

[2017-02-08 05:02] mirisuzanne commented on #87
Fixed by ded6b0d

[2017-02-08 05:02] #87 closed

[2017-02-08 05:04] mirisuzanne commented on #81
Fixed by ded6b0d2c

[2017-02-08 05:04] #81 closed

[2017-02-08 05:09] #65 closed

[2017-02-08 05:15] mirisuzanne commented on #31
I implemented this in Susy 3. We could try adding it to True, but that would make True a shipped requirement for other libs, which doesn't sound ideal to me. I think it would be better to document the solution, and show others how to implement.

https://github.com/oddbird/susy/pull/600/commits/de0c473a95d99117475f1c023f17423803bb7e7b#diff-65a950017833d86c70a5e821971baa0fR50

[2017-02-08 05:15] #31 closed

[2017-02-08 05:21] mirisuzanne commented on #25
I can't figure out any way to implement these better than they work already:

- You can already set and unset any variables you need before/after a test, which is simpler than using some special syntax.
- You can comment out tests you don't want to run, which is the same as `xit` without any new syntax.
- There is no obvious way to implement `iit` in Sass, since things are parsed in order.

[2017-02-08 05:21] #25 closed

[2017-02-14 15:29] yoannisj commented on #35
I am experiencing related issues with [importOnce](https://github.com/at-import/node-sass-import-once), which does async importing and therefore doesn't play well with sass-true.

As @DominicBarnard points out, this seems to be because of the [node-sass issue](https://github.com/sass/node-sass/issues/997) that  makes asynchronous importers not support `renderSync`, but that issue has been closed w

[2017-02-14 16:02] mirisuzanne commented on #35
This is outside my expertise. @chriseppstein do you have thoughts? (Also: Should this be a new issue?)

[2017-02-17 18:09] nicky-lenaers opened #88 "Code Coverage"
Any way I can generate a code coverage report using this plugin?

[2017-02-17 18:14] mirisuzanne commented on #88
Not currently, but I'd love to add that feature. It's not something I can do in pure Sass, which means I'll have to rely on contributions. Are you interested in giving it a shot?

[2017-02-20 17:26] nicky-lenaers commented on #88
@mirisuzanne Not sure how I would tackle this, but I'd love to take a look at the possibilities and discuss them here.

[2017-02-20 17:43] mirisuzanne commented on #88
@nicky-lenaers That would be great! If you need any direction around the JS/Mocha code we have already, @carljm is the person to talk to.

[2017-02-24 21:40] mmellado opened #89 "test-module vs test vs assert"
I've been playing around with `true` for an open source project I'm building.

I really like the concept and the ease of use, however I'm a little confused about some parts of the behavior

I'm noticing that both `assert()` and `test()` take a comment as a parameter. However, when running my code with mocha, the comment from `test()` is the only one being outputed and the comment for the assert()

[2017-02-24 22:19] mirisuzanne commented on #89
Good questions! I think you may have reported a bug accidentally. :)

- The `test-module` mixin doesn't have to wrap an entire file, but can be used for any grouping of tests (even nested groups). That mixin, and description are for your own organization, as desired.
- The `test` mixin allows you to define what you consider a single test, with one or more assertions. Counting and error-reporting a

[2017-02-25 11:16] mmellado commented on #89
Ah! It all makes sense now, thanks a lot for clarifying!

[2017-02-25 11:16] #89 closed

[2017-02-25 20:04] chrisopedia commented on #84
FYI, i switched to your work around and it works just fine.  Thanks.

[2017-02-27 10:25] mmellado commented on #89
BTW, it would be nice if you could add a brief description of the API in the README. For people who are already experienced in unit testing, this might be a bit more obvious, but it wouldn't be for people who are just experimenting and playing around with it to learn ;)

[2017-02-27 16:46] mirisuzanne commented on #89
That's a great idea. Do you want to make a pull request? :)

[2017-02-28 01:11] cuyaproductions commented on #57
Hi @mirisuzanne! I really like this project and would love to contribute. This issue seems like something I can do. Are you still wanting a PR for this?

[2017-02-28 16:40] mirisuzanne commented on #57
@cuyaproductions sure! There's already a system in place for tracking tests, so you'll probably be able to tie into that same pattern. Let me know if you have questions. Thanks!

[2017-03-11 22:14] lazarljubenovic opened #92 "Test if a function throws?"
It would be really nice to add ability to test if a function throws (like `expect(...).toThrow('error message')`.

[2017-03-11 22:47] mirisuzanne commented on #92
I agree. Here's [how we did it in Susy](https://github.com/oddbird/susy/commit/de0c473a95d99117475f1c023f17423803bb7e7b). I don't feel like I can ship that as part of True, because it adds a function to your production code. I don't want True to be a production dependency, so it's better if that function lives outside True.

Add a variable and function like these to your project:

[code]

Return t

[2017-03-11 22:58] lazarljubenovic commented on #92
Aaah, this is one of those tricks that are so obvious once someone tells you about them. Yeah, it makes perfect sense. Thanks for sharing the idea!

It's indeed tricky to do anything similar without adding a production dep :neutral_face: If I experience some kind of sudden enlightenment, I'll make sure to drop by with an idea or two :smile:

[2017-03-13 16:05] #92 closed

[2017-03-16 22:00] lazarljubenovic opened #93 "Should forgive more on whitespace"
Getting a bunch of these false positive failures.

[code]

I'm not aware if CSS differs in spec somewhere here but both (with and without whitespace) seem to work for me. Is this this a bug?

[2017-03-19 19:14] mirisuzanne commented on #93
@carljm is this something we can fix, or should we be submitting an issue somewhere else?

[2017-04-12 04:14] #57 closed

[2017-04-28 19:54] chrisopedia commented on #84
@mirisuzanne ran into another issue:

[code]

[2017-04-28 20:20] mirisuzanne commented on #84
@chrisopedia wow, that's even more of a stumper. Can you paste the function for me to experiment with?

[2017-04-28 20:39] chrisopedia commented on #84
its a lot to paste in here and there are a lot of deps, so I created this [gist](https://gist.github.com/chrisopedia/e7c4ed50ddae2565949e5e5e8b97767e) for you.  The `deps.scss` are just a bunch of math functions used for the `scale-luminense.scss`

[2017-04-28 20:51] mirisuzanne commented on #84
Thanks! What's the test look like?

[2017-04-28 20:56] chrisopedia commented on #84
[code]

[2017-04-28 20:58] mirisuzanne commented on #84
Interesting. That's passing for me on Sassmeister, though they are on an old version of True (2.0.3)...

https://www.sassmeister.com/gist/84acddb3a9358a60335e8b3666103945

I'll try it out locally.

[2017-04-28 21:09] mirisuzanne commented on #84
Locally I get a different result from the function. Curiouser and curiouser...

Using Sass `3.4.6` and True `2.2.2`:

[code]

When I change the expected color to `#00c3d3` it passes.

Looks like Sassmeister is using Sass `3.4.21` - was there a change in Sass color-handling?

Either way, I'm not able to replicate your same-color-fail yet.

[2017-04-28 21:20] chrisopedia commented on #84
I'm on Ruby Sass `3.4.23 (Selective Steve)` and True `2.2.2`

[2017-04-29 00:09] mirisuzanne commented on #84
Looks like Sass did make changes to rounding in recent bug-fixes. That could explain the different results. Still, I can' recreate your error. With Ruby Sass 3.4.23 and True 2.2.2 I get a passing result:

[code]

[2017-04-29 00:31] chrisopedia commented on #84
How are you running it?  I'm using this in Gulp task using Mocha.

[2017-05-01 17:03] mirisuzanne commented on #84
I'm compiling directly in Sass. Since mocha trusts the Sass results, it would be very strange if that gulp/mocha explains the error. Can you paste your relevant gulp setup, for me to try it locally here?

[2017-05-02 17:36] chrisopedia commented on #84
// True Sass True task; runs unit tests on mixins/functions
const mocha = require('gulp-mocha');
[code]

[2017-05-03 22:13] mirisuzanne commented on #84
Ok, I finally got this all working, and I see the same error you do. Very strange! I'll see if I can figure anything out. @carljm might have some better insight into the differences here?

[2017-05-03 23:04] mirisuzanne commented on #84
Looks like `inspect` does resolve most of our issues:

[code]

That doesn't solve the list-comparison, where single-item lists are still required to have the same delimiter (space or comma). Your demo to start this thread creates a space-delimited (default) list in the function, but you are expecting a comma-delimited list.

There's a simple solution, which is to force single-item (or empty) lists

[2017-05-03 23:08] mirisuzanne commented on #84
I am still checking that both variable-type and inspected-value match, because I think it's important to understand that `"1em"` and `1em` are functionally different.

[2017-05-03 23:18] chrisopedia commented on #84
Why do you suggest they're functionally different?

[2017-05-03 23:31] mirisuzanne commented on #84
CSS doesn't care about the difference, but True is often testing internal values for Sass toolkits - where the difference between a number and a string of that number can grind your compiler to a halt. `1em + 1em == 2em` while `"1em" + "1em" == "1em1em"`.

[2017-05-08 19:03] chrisopedia commented on #84
Ahh, thanks for the insight.  So then after all of this discussion, whats your best recommendation to get these tests passing for where [this](https://github.com/oddbird/true/issues/84#issuecomment-298091823) keeps happening.

[2017-05-08 19:41] mirisuzanne commented on #84
It seems to be related to color-math rounding. The two aren't equal, because the version of Sass you are using (actually node-sass, since that is the only option with gulp/mocha) isn't rounding before it compares values. You can fix that with `inspect()` around the result.

[2017-05-08 19:54] chrisopedia commented on #84
thanks, that fixed it.

[2017-05-09 19:20] chrisopedia commented on #84
@mirisuzanne hate to bother you again, but wondering if this is the same issue with comparisons:

[code]

[2017-05-09 20:09] mirisuzanne commented on #84
I'm not sure what issue you are having there? CSS-output tests should already be comparing the final values in the CSS, so I doubt it's the same problem - but hard to tell at this point.

[2017-05-09 20:11] chrisopedia commented on #84
[code]

[2017-05-09 20:31] mirisuzanne commented on #84
Those two blocks aren't actually the same. You're missing...

[code]

In your `expected` block.

[2017-05-09 20:32] mirisuzanne commented on #84
The functions aren't compiling, probably because they haven't been imported?

[2017-05-09 21:07] chrisopedia commented on #84
Maybe I'm not reading that correctly, but what is different.  I've updated the `test` and `expect` to include the functions.

[code]

[2017-05-09 21:19] mirisuzanne commented on #84
[See above](https://github.com/oddbird/true/issues/84#issuecomment-300292386)

The difference is:

[code]

[2017-05-09 21:38] chrisopedia commented on #84
Sorry, I might be super dense here, but I'm just not seeing where that is coming from.

[2017-05-09 21:41] chrisopedia commented on #84
if I read the results correctly here, then the part starting below the `+ expected, -actual` is whats the actual error?

So in this case its saying its expecting

[code]

but its not in the results?

[2017-05-09 21:46] mirisuzanne commented on #84
It's showing you two blocks of code that are supposed to be the same – the first from your `output`, and the second from your `expected`. If you compare them, that style is missing from the second block.

It's telling you that you have that output from the mixin you are testing, but you haven't included that style in your expected output. Looking at your test, you can see that there is no mention

[2017-05-09 21:53] chrisopedia commented on #84
Oh my god, I feel like such an ass.  Thanks so much @mirisuzanne for your patience.

[2017-05-09 22:27] mirisuzanne commented on #84
No worries, glad it got sorted!

[2017-05-21 21:21] mirisuzanne commented on #33
Our Mocha integration is now much more feature-complete than the `true-cli`. Since node is also more reliable across dev environments, and easier to maintain, I'm tempted to remove the Ruby `true-cli` entirely in 3.0.

@scottdavis - does that make sense to you?

[2017-05-26 01:56] mirisuzanne commented on #85
Resolved by #97

[2017-05-26 01:56] #85 closed

[2017-05-26 01:57] mirisuzanne commented on #74
Resolved by #97

[2017-05-26 01:57] #74 closed

[2017-05-26 02:00] mirisuzanne commented on #84
#96 Allows you to pass a third `$inspect` argument to `assert-equal` and `assert-unequal` mixins, allowing you to optionally compare inspected values (`inspect($assert) == inspect($expected)`) instead of using the default Sass comparison (`$assert == $expected`).

[2017-05-26 02:00] #84 closed

[2017-05-26 16:05] mirisuzanne opened #99 "Test warnings and errors"
See how we did this in [Susy Three](https://github.com/oddbird/susy/pull/600/commits/76ad62704c0e054fea3b06c2c3f8f0697ed0d018)

[2017-05-26 17:11] #71 closed

[2017-05-27 00:11] mirisuzanne opened #100 "Remove ruby gem and cli"
- Will we still need `$true-terminal-output`?

[2017-05-31 18:53] greenkeeper[bot] opened #103 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-05-31 19:09] #103 closed

[2017-05-31 21:40] #33 closed

[2017-05-31 21:41] #61 closed

[2017-05-31 23:43] #99 closed

[2017-06-01 15:56] davisagli commented on #93
Trying to normalize whitespace feels like a can of worms to me...there's at least one case where whitespace matters (in an attribute selector) and there may be others. Dealing with them correctly would require parsing the selectors and comparing the abstract syntax tree rather than the raw output. Personally, I would expect true to compare the literal output with the literal expected output withou

[2017-06-01 16:00] mirisuzanne commented on #93
@davisagli thanks. In that case, I don't think it's urgent for a 3.0 release, and I'll move it out of the milestone.

[2017-06-01 16:02] mirisuzanne commented on #72
@wlonk would you have a minute to flesh this out? I'm not sure what it involves.

[2017-06-01 16:03] wlonk commented on #72
Uh, I'll have to remember myself. I'll try.

[2017-06-01 16:13] #100 closed

[2017-06-01 16:18] #68 closed

[2017-06-02 17:47] #72 closed

[2017-06-05 15:57] cronin4392 opened #108 "Support for Jest integration"
Hello,

I am curious if the library could integrate with [Jest](https://facebook.github.io/jest/) testing framework? Jest uses a very similar syntax to Mocha. When I attempted to use with Jest I get the message:

[code]

I was planning on looking into the source code and attempting a PR.

[2017-06-05 16:40] mirisuzanne commented on #108
I don't know much about how the integrations work (or Jest), @carljm and @davisagli might know. I'd love a PR if one is required!

[2017-06-05 17:48] cronin4392 commented on #108
Thank you @mirisuzanne. A note for other contributors, I used the mocha integration code. Jest uses `describe` and `it` as well. The true tests do run however Jest does not detect it as an integration test and gives me that error above.

[2017-06-07 13:55] davydog187 commented on #108
The issue is that jest thinks you haven't declared any tests. You can get it to work but putting a "dummy" test in your entry point.

[2017-07-13 00:31] chrisopedia commented on #84
Awesome.  Hey @mirisuzanne wondering if there is a way to run `sass-true` in gulp without having to run the test-setup.js as follows:

[code]
[code]

[2017-07-13 15:31] mirisuzanne commented on #84
@chrisopedia do you mind opening a new issue for that?

[2017-07-13 15:50] chrisopedia opened #110 "How to set up gulp without the JS shim"
Wondering if there is a way to run sass-true in gulp without having to run the test-setup.js as follows:

[code]
[code]

[2017-07-17 19:43] jgerigmeyer commented on #110
@chrisopedia Can you provide a bit more context for what you're trying to achieve? `gulp-mocha` requires a .js file passed directly to it, so True works by setting up your tests in that JS file and then running it with Mocha. As far as I'm aware, there isn't a good way to combine it such that the sass files are run through True directly from the gulpfile.

[2017-07-17 20:41] chrisopedia commented on #110
I guess I was hoping to pass a glob or SCSS files directly to the `gulp.src()` and avoid the shim

[2017-07-17 20:46] jgerigmeyer commented on #110
That should be possible if you want to compile True as pure Sass, without Mocha. I think that's possible, but loses a few features; @mirisuzanne can probably speak to that better? If you want to use Mocha, I don't know of a way around the shim JS file.

[2017-07-18 16:26] mirisuzanne commented on #110
@chrisopedia All the compilation is pure Sass. What Mocha provides is parsing of the results, including comparison of output tests. Without Mocha, you would have to compare output-tests manually. When I'm in that situation, I commit the output to version control, and use `diff` to catch any changes. If you're ok with that, you can run True without the shim.

[2017-07-18 20:18] chrisopedia commented on #110
Fair enough, @mirisuzanne.  Thanks so much for the work on this.

[2017-07-18 20:18] #110 closed

[2017-07-18 21:00] chrisopedia opened #111 "Output for Requires and Used By show duplicate functions/mixins"
I've notice that all of the functions that have multiple calls for the same function show up duplicated in those sections of the docs.  Is that intentional?

[2017-07-18 21:12] mirisuzanne commented on #111
I think we need to update to the latest release of the Herman theme (and release 3.0 while we're at it). Thanks for the reminder!

[2017-08-09 00:13] chrisopedia opened #112 "Good way to test the output of entire lib"
I was wondering if there would be a good way to write a test using True that would test the entire output/compiled CSS file?

[2017-08-09 15:46] mirisuzanne commented on #112
Well, what exactly is the test? If the test is "fail if this file changes" – you can just use version diffs in git. Normally, I would use True to test internal logic of mixins and functions, rather than the actual style of a site. You could write a large assertion with the entire file copy-pasted into `input`, and the results pasted into `expect`, but I'm not sure it's very useful. Maybe some form

[2017-08-09 16:29] chrisopedia commented on #112
Yeah, I agree that git is probably better suited for this and almost certainly visual regression.  However, I don't check in the compiled files and use enterprise NPM to host and compile. I also architect my SCSS so everything is a mixin since its used as a dependency in my entire company consumes the lib I've built into their application.  The mixin itself is configurable so they can use various

[2017-08-09 16:44] mirisuzanne commented on #112
ok, you can absolutely test the output of mixins – though it's only automated if you are using the Mocha integration (or integrating with another JS test-runner). Sass isn't able to compare output internally. See the [Comparing Output](http://oddbird.net/true/api-assert-output.html) section of the docs…

[code]

[2017-08-09 16:56] chrisopedia commented on #112
When I do something like that, I keep getting this error:

[code]

[2017-08-09 17:11] mirisuzanne commented on #112
I think that's fixed in the [latest beta release](https://github.com/oddbird/true/releases/tag/v3.0.0-beta.1) (which is probably ready for a full release). Older versions of the parser would break on unexpected output (anything not inside a test).

[2017-08-09 19:38] chrisopedia commented on #112
k.  I can wait for that then, thanks so much.

[2017-08-27 00:44] #108 closed

[2017-08-27 00:46] #112 closed

[2017-08-27 00:59] #111 closed

[2017-10-06 20:54] mirisuzanne commented on #93
@lazarljubenovic this may be better filed as an issue for the CSS parsers we use:

- https://github.com/mdevils/node-css-selector-parser
- https://github.com/reworkcss/css

[2017-10-06 20:54] #93 closed

[2017-10-09 09:58] joebell93 opened #114 "Output Tests: Contains"
It would be great to integrate the latest version of **true** in the [Sky Toolkit](https://github.com/sky-uk/toolkit) but one of the major things holding us back is the lack of a "**contains**"-like output test.

Not too dissimilar to "[Includes](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/includes)" in JavaScript
(but `@include includes {};` makes me fe

[2017-10-09 21:05] mirisuzanne commented on #114
That's an interesting feature.

On the Sass side, it can be a near clone of the `expect` mixin, with a small change in the generated comment-wrapper (https://github.com/oddbird/true/blob/master/sass/true/_assert.scss#L307 and line 317).

That will also require a change in the parser/mocha-comparison, which I'm less clear on. Maybe @carljm can speak to that.

[2018-01-15 16:44] ThePeach opened #115 "assert output/expect not working"
Hello and thank you for this wonderful tool.

I currently have the following in one of my test suite:

[code]

Whatever I write in the `output` or `expect` nothing changes and it always gives a passed test.
No idea what's wrong.

[2018-01-15 18:54] mirisuzanne commented on #115
Are you using the mocha integration to compile tests, or are you doing a simple sass compile? Can you show me the output you get when the test should be failing?

[2018-01-16 10:02] ThePeach commented on #115
Yeah, I'm using mocha.

[code]

output
[code]

[2018-01-16 10:15] ThePeach commented on #115
You can see the whole test file here:  https://github.com/buildit/gravy/blob/2.0/test/init.scss

[2018-01-16 17:58] mirisuzanne commented on #115
Well, that's very strange. It looks like Sass is giving the proper result: `4 Tests, 2 Passed, 0 Failed, 2 Output to CSS` (Sass can't compare output blocks). But the Mocha parser is failing to get past the first test.

@jgerigmeyer Can you take a look at this? I'm able to reproduce this locally, after cloning https://github.com/buildit/gravy/ and running `npm install; npm test` on the `2.0` branch

[2018-01-16 20:49] jgerigmeyer commented on #115
@ThePeach @mirisuzanne It fails because the `@include gravy-init;` is inside an `it() {` block. The tests run fine if `@include gravy-init;` is moved out to the top of the file.

I'm not very familiar with True's syntax... are assertions the only things expected within an `it() {` block?

[2018-01-16 20:56] mirisuzanne commented on #115
Aha - not exactly, but the Mocha CSS parser does break on unexpected CSS-output inside a test block. If `gravy-init` creates output CSS, that's likely the issue.

[2018-01-16 20:56] jgerigmeyer commented on #115
👍  (Is that documented in the True docs? If so, I wasn't able to find it easily...)

[2018-01-16 22:27] ThePeach commented on #115
ok, just tested myself and yeah, moving `gravy-init` to the outside of the `describe` will make the tests fail/pass as intended.
Now what's not clear to me is what's going on here: is the output of the mixin captured? the mixin I'm calling later on `gravy-font` depends on some variables initialised by `gravy-init`. I'm a bit confused.

[2018-01-16 22:58] mirisuzanne commented on #115
True works in several steps:

1. First the Sass is compiled into CSS, with comments that show the test structure. This step works with or without Mocha. The resulting CSS looks something like this (showing a passing test, a failing test, and one output test):

[code]

2. Our Mocha integration parses that output CSS (not the Sass), and expects to see a structure that it understands. If the CSS outp

[2018-01-18 16:01] kyleoliveiro commented on #115
I'm facing a similar issue while testing an `extends()` mixin:

[code]

In my test file:

[code]

This should pass, but I get the following error:

[code]

[2018-01-18 17:25] mirisuzanne commented on #115
By default, True adds a `.test-output` wrapper class - so that you can test raw property/value output, without the selector. To remove that, pass `false` as the first argument to both `output` and `expect`:

[code]

[2018-01-19 04:01] kyleoliveiro commented on #115
I tried removing the `.test-output`, but get the same error:

[code]

For some reason, True thinks I'm expecting an additional `.component` line.

[2018-01-19 07:14] mirisuzanne commented on #115
Ah, this is a problem with the way `@extend` works in Sass. Since `.bold` appears in two different contexts here, Sass is extending it in both locations. `.component` is added to both instances of `.bold`, including the `expect {}` block, where it isn't needed.

Off-hand, I don't see any way for True to work around that. I'm not sure there really is a way to test `@extend`.

[2018-02-09 18:35] diego-codes opened #118 "Assert @errors"
I wonder if there is a way to assert errors thrown. Here is what I was imagining:

**`test.scss`**
[code]

**`my-function.scss`**
[code]

So the test should pass if there was indeed an error thrown and the actual error message matches the expected message.

This is more of a question than a feature request at this point. It may not be feasible to achieve if it's not possible to render past the err

[2018-02-09 22:12] mirisuzanne commented on #118
Sadly, that's not possible. Sass `@error` calls stop the compiler, so we have no way to capture them and continue parsing. See #92 for the best workaround we've found. That's also the technique we use for [testing True](https://github.com/oddbird/true/search?utf8=%E2%9C%93&q=_true-error&type=). Hope that helps!

[2018-02-09 22:12] #118 closed

[2018-02-09 23:18] diego-codes commented on #118
Thanks @mirisizanne for the workaround!

[2018-02-14 18:24] #115 closed

[2018-02-25 21:29] benkyriakou opened #121 "Testing @error in mixins"
I have a question on testing errors raised by mixins, since this doesn't appear to be covered as a standard use case. Taking inspiration from the [Susy approach](https://github.com/oddbird/true/issues/31) I've written some mixin tests that use a similar approach, but using a second mixin rather than a function since I don't believe it's possible to return a meaningful value using the exact same me

[2018-02-26 17:49] mirisuzanne commented on #121
That seems like a reasonable approach, and should work for testing mixin errors. But the disadvantage with using mixins/css-output (also not very meaningful in my mind) is that you can never call it from inside a function. If you ever want to test a function error, you'll have to re-write this as a function anyway – since functions cannot call mixins. I'm not convinced that an abstract sense of "m

[2018-02-28 22:05] benkyriakou commented on #121
Thanks for the reply! I may have been confusing the matter by calling it a 'meaningful' value - I can see that if I wanted to use this for testing functions I would need to convert it to something like:

[code]

But I don't believe it's possible to use this function to return anything from a mixin, since mixins have to return something CSS-like.

I suppose my actual question is: am I approaching t

[2018-02-28 22:14] mirisuzanne commented on #121
Yes, everything here looks reasonable to me. You are approaching this problem as correctly as anyone! :)

The way that I handle use-case #3 is by breaking all the mixin logic out into functions, and unit-testing the error at that level, rather than the mixin level. I think either solution is fine. ¯\\\_(ツ)_/¯

[2018-03-06 20:02] #121 closed

[2018-03-06 20:03] mirisuzanne commented on #114
Closed by #120 - Thanks @JakeChampion !

[2018-03-06 20:03] #114 closed

[2018-03-08 10:11] joebell93 commented on #114
Thank you @JakeChampion!

[2018-04-04 12:27] mighty-pirate opened #122 "get-function and mocha integration"
I am getting an output issue with the mocha integration. I am sorry if this is already a known issue but I couldn't find an issue or fix for it.

If I run the tests using node-sass (4.8.3) and libsass (3.5.2), the problem does not occur but within the mocha integration, `get-function` is output as a string and any args appended to the end.

For example

[code]
The output should be:

[code]

but is

[2018-04-04 15:43] jgerigmeyer commented on #122
I ran into this as well, after I thought I'd upgraded to node-sass 4.8.3. In my case, it turned out that I had two different versions of node-sass installed. My project was using 4.8.3, but sass-true was still using 4.5.3 because it only requires `"node-sass": "^4.5.3"`. When I forced both to use 4.8.3 (in my case, updating yarn.lock: `rm -rf node_modules; rm -f yarn.lock; yarn`), the tests passed

[2018-04-04 15:58] mighty-pirate commented on #122
Yes, that worked. Thank you very much.

[2018-04-04 15:58] #122 closed

[2018-04-04 16:04] jgerigmeyer commented on #122
@mirisuzanne I wonder if sass-true should define node-sass as a peerDependency instead of a regular dependency?

[2018-04-04 16:10] mirisuzanne commented on #122
@jgerigmeyer I'd trust you on that.

[2018-04-04 19:31] jgerigmeyer commented on #122
PR submitted: #123

[2018-05-16 02:45] CharlieGreenman opened #125 "Module not found: Error: Can't resolve 'fs' in etc."
Using Mocha/Karma + Jasmine, with the following code:

[code]

I am receiving the error: `Module not found: Error: Can't resolve 'fs' in` for numerous packages. My file is called `scss.spec.ts` (and therefore is a Typescript file).

I have installed the following packages:
`npm install --save-dev sass-true node-sass jest glob`

Feel free to let me know if there is anything I am missing out on. Tha

[2018-05-16 20:09] jgerigmeyer commented on #125
@CharlieGreenman It's likely that the error here is in one of your test files or one of the Sass files being imported (maybe related to https://github.com/isaacs/node-glob or https://stackoverflow.com/questions/47020061/module-not-found-error-cant-resolve-fs-with-webpack?). Can you provide a stripped-down example (preferably in a GitHub repository) that triggers the error?

[2018-05-16 20:37] CharlieGreenman commented on #125
@jgerigmeyer I can do that. Will provide a repo asap, no later than tonight.

[2018-05-16 22:30] CharlieGreenman commented on #125
@jgerigmeyer The following repo has been created: https://github.com/CharlieGreenman/MonoAngularPixel

This issue can be see on master. Thank you.

[2018-05-18 17:16] jgerigmeyer commented on #125
@CharlieGreenman Thanks! The repo is very helpful for tracking this down.

In short, your `scss.spec.ts` file is written to be executed in node (using e.g. node-glob), but your karma runner is executing the test files in Chrome. True uses `node-sass`, and isn't currently written to be run in a browser context.

If you bypass karma and run `jasmine libs/scss.spec.ts` (or `./node_modules/.bin/jasmin

[2018-05-18 17:16] #125 closed

[2018-05-18 17:46] CharlieGreenman commented on #125
@jgerigmeyer the thanks is all mine. This is a fantastic repo, really the first of it’s kind, and I’m excited to deep dive into it. If there is a place where I can dedicate money towards this repo, by all means, feel free to let me know. I strongly believe in it. Thank you.

I am going to go ahead and delete repo I created for this ticket. If you are reading this, consider it deleted.

[2018-05-18 17:48] CharlieGreenman commented on #125
Also, might add a or for documentation, telling people about the above. Also I noticed inconsistencies within documentation in three places. Thank you.

[2018-05-18 18:14] jgerigmeyer commented on #125
PR for doc improvement would be most welcome!

[2018-05-18 19:27] CharlieGreenman commented on #125
@jgerigmeyer next time will have time for documentation will be May 27th. Will dedicate 1.5 hrs. then :)

[2018-06-04 03:03] jeff1evesque commented on #88
If you run the test through [jest](https://itnext.io/setting-up-sass-unit-testing-in-your-project-b683a2e8ac03), I think you can wire up jest to send reports to coveralls.

[2018-06-04 03:11] jeff1evesque opened #128 "Import scss files into test"
Sorry to create an issue to ask: is it possible to import another scss file, then run unit tests against the imported file? This seems to be the only project that can unit test css, and I haven't seem documentation on this repository with the possibility of importing another file, or various mixins from the file?

**Note:** I want to import a scss file I've written, then do some [trivial tests](ht

[2018-06-04 16:15] mirisuzanne commented on #128
@jeff1evesque If I understand the question right: yes - that is exactly how it works. As with Sass generally, you have access to anything in the tree of imported files (and the files they import, and so on).

[2018-06-04 17:07] jeff1evesque commented on #128
@mirisuzanne, I'm looking at the sass-true [example](https://itnext.io/setting-up-sass-unit-testing-in-your-project-b683a2e8ac03), integrated with jest:

[code]

So, apparently jest will pick any files with `*.spec.scss`. So, I can simply add an `@import` to another scss file, in the above example? Then, I can use any declared variables, or mixins for any test in the above file?

[2018-06-04 18:02] mirisuzanne commented on #128
@jeff1evesque We didn't write that article, so I may not have all the details, but it looks like:

- In their proposed setup, you create any number of individual `*.spec.scss` files, each one importing the specific requirements for that set of tests.
- In that example, the `true` import is required, and the `rem` import is only an example. Replace that with whatever specific import file/s you need

[2018-08-06 23:11] chrisopedia opened #130 "includePaths with runSass"
Is it possible to use `includePaths` with `runSass({file})` or must you use the `data` option of node-sass?  When I added with the `file`, it appeared to choke on the file and no longer reading it?  Below is what I'm using now with `data` but it seems to choke on relative paths in the test file.

[code]

I get errors like the following:

[code]

[2018-08-08 15:02] jgerigmeyer commented on #130
@chrisopedia Yes, you can use `includePaths` along with the `file` option when calling `runSass`. True simply passes the options directly along to node-sass' `renderSync` function, with the only modification being adding True itself to the `includePaths` array.

If you push a stripped-down repo with the error, I'm happy to take a quick look to see where the error might be coming from.

[2018-08-08 19:58] chrisopedia commented on #130
@jgerigmeyer its a private repo from within my companies Github Enterprise.  I can push it to a private repo fully contained within Bitbucket if you have an account there.

[2018-08-08 20:02] jgerigmeyer commented on #130
It'd probably be more useful to create a new bare-bones repo specifically with the goal of isolating the bug/error. So just with the basics required to replicate what you're trying to do in the larger repo.

[2018-08-09 18:31] chrisopedia commented on #130
it appears it has to do with this line:

[code]

which ends up resolving to:

[code]

[2018-08-09 18:57] chrisopedia commented on #130
It appears to be an issue with `css` lib when parsing the `;` character that exists in the variable definition.  I set up the reduced test case at the following URL and when i replaced the `;` with `%3B` it seems to work just fine.

https://runkit.com/chrisopedia/css-parse-reduced-test-case

[2018-08-09 19:00] jgerigmeyer commented on #130
Closing as unrelated to True (correct me if I'm wrong).

[2018-08-09 19:00] #130 closed

[2018-08-09 19:41] chrisopedia opened #131 "Latest version asserts more than it should"
So I've set up a reduced test case here: https://gist.github.com/chrisopedia/b8aaf55b2de9d5eb37a371c6ea55dfd6 in order to show the smallest set of mixins required to create the following output.  After upgrading to the newest version of True, my test is now failing expecting a lot more output than would be output.  Here's the test:

[code]

And the error:

[code]

[2018-08-09 20:39] chrisopedia commented on #131
Seems like it was an order of calling issue and not true

[2018-08-09 20:39] #131 closed

[2018-08-09 21:47] chrisopedia opened #132 "Reference Error: `describe` is not defined"
Hey team, love what you're doing here and I've found this repo absolutely necessary in my workflow.  I was working on changing from `mocha` to `jest` since I use it for my JS testing and would love to clean up my build process to only use the 1.  My current setup works with Gulp and Mocha, but here's my newest version:

[code]

[code]

Full Stack Trace:

[code]

[2018-08-10 21:07] jgerigmeyer commented on #132
Using the documented jest CLI (e.g. `jest path/to/sasstrue.setup.test.js`), I'm able to run this without issues. So I think the error must be related to your `gulpfile` config and use of the (as far as I can tell undocumented) `jest.runCLI` command. It seems like that command does not make the usual jest globals (e.g. `describe`) available?

Closing as unrelated to True; please correct me if I'm m

[2018-08-10 21:07] #132 closed

[2018-08-15 06:12] chrisopedia commented on #132
@jgerigmeyer can you share with me your set up of how you're running this?

[2018-08-20 15:51] jgerigmeyer commented on #132
@chrisopedia Basically, using the CLI works fine:

[code]

The usage of `jest.runCLI` is somewhat undocumented, but the error your seeing seems to stem from importing the entire test-file directly rather than allowing jest to discover and import it. The following gulpfile.js should work:

[code]

[2018-08-22 17:26] chrisopedia commented on #132
That got me closer, but now its getting:

[code]

[2018-10-15 08:18] greenkeeper[bot] opened #133 "An in-range update of node-sass is breaking the build 🚨"
## The devDependency [node-sass](https://github.com/sass/node-sass) was updated from `4.9.3` to `4.9.4`.

🚨 [View failing branch](https://github.com/oddbird/true/compare/master...oddbird:greenkeeper%2Fnode-sass-4.9.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

node-sass is a devDependency of this project. It **might

[2018-10-20 09:22] greenkeeper opened #134 "An in-range update of sassdoc is breaking the build 🚨"
## The devDependency [sassdoc](https://github.com/SassDoc/sassdoc) was updated from `2.5.0` to `2.5.1`.

🚨 [View failing branch](https://github.com/oddbird/true/compare/master...oddbird:greenkeeper%2Fsassdoc-2.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sassdoc is a devDependency of this project. It **might not b

[2018-10-26 18:25] #134 closed, assigned to nobody

[2018-12-11 14:55] jgerigmeyer opened #135 "Add documentation for using True with Jest."

[2018-12-28 18:30] damienwebdev opened #136 "Confusing output"
I was writing some simple tests to confirm my suspicions about how some of the core sass functions work and I ran into the following:

[code]

[code]

Obviously, the test's assertion is wrong, but the resulting output message about the return's actual vs. expected is rather confusing.

[code]

[2018-12-29 00:58] damienwebdev commented on #136
@mirisuzanne I'd think the former is probably better, the latter is less clear about the underlying issue.

[2019-02-21 00:03] CupOfTea696 opened #137 "Allow configuring sass implementation."
Currently, `true` uses `node-sass` by default, but I use `dart-sass` in my project. It is currently not possible to configure the sass implementation, so to use `true` I have to install `node-sass` in addition to `dart-sass`.

[2019-03-07 12:17] ericmorand opened #138 "Replace assert.fail with assert.strictEqual"
Node.js `assert.fail()` with more than one argument is deprecated. `assert.strictEqual()` could be used instead.

See https://nodejs.org/api/assert.html#assert_assert_fail_actual_expected_message_operator_stackstartfn

[2019-03-08 17:41] #138 closed

[2019-05-31 17:08] #137 closed

[2019-06-01 20:35] mirisuzanne commented on #136
@damienwebdev can you take a look at that PR, and see if it solves the issue for you?

[2019-06-03 17:35] #135 closed

[2019-06-03 17:35] #136 closed

[2019-06-04 18:39] shani-terminus opened #146 "Feature Request: Support for intended fail-scenario"
I would like a way to verify a fail scenario to insure code properly messages invalid parameters.

For example:
[code]

Test:
[code]

Today when I attempt a test like this, I get the fail-message in the terminal, however, the test itself fails and my other tests don't run.

[2019-06-04 18:57] mirisuzanne commented on #146
There is no way to build this into True's testing-syntax directly, since the `@error` declaration stops Sass compilation. It would require changes to how you write functions and mixins in the first place. You can see how we've done that for both [True](https://github.com/oddbird/true/blob/master/sass/true/_utilities.scss) and [Susy](https://github.com/oddbird/susy/blob/master/sass/susy/_utilities.

[2019-06-04 19:08] shani-terminus opened #147 "Feature Request: Support for @media queries and breakpoints"
I am confounded by how to test breakpoints.

Sample SCSS:
[code]
In the following example tests, both scenarios pass, though the second one is clearly designed to fail. If I add a value for content, eg `content: 'hello'`, I receive an expected value to be undefined. Expected returns nothing, and actual returns only the content with no @media query. Clearly the test isn't running as I imagined.
[co

[2019-06-04 19:43] mirisuzanne commented on #147
These are passing because both the mixin and the empty `@media` produce *no output* in Sass. No-output `==` no-output. In order for Sass to generate output, you have to include some `@content` in both examples:

[code]

The `--test: true;` example can be replaced any valid properties/values.

[2019-06-04 19:44] #147 closed

[2019-06-05 11:58] shani-terminus commented on #147
Thank you. I probably omitted too much code to accurately describe my problem. I am specifically asking about the`@media(min-width: 600px) and (max-width: 959px)` portion of the expect statement. It is not included in the actual output.

Test and output in the screenshot
![sass-true-breakpoint-test-20190605](https://user-images.githubusercontent.com/44702601/58954572-8f798d80-8767-11e9-8caf-cba080

[2019-06-05 13:35] shani-terminus commented on #146
Thanks! I will look into implementing in our next sprint.

[2019-06-05 15:45] mirisuzanne commented on #147
Well, it's basically the same problem as above (and not related to True). Your `bp()` mixin requires nested content. You can nest it inside a selector like you have, but it will only wrap what you put inside it. For the output you want, you'll need to write either:

[code]

The `@content` declaration only works when you pass something into it.

[2019-06-05 17:44] shani-terminus commented on #147
Fantastic!
The media query does not come back when the selector is outside, but it does when the selector is on the inside. Tests are working (and failing when expected) now! Thanks for your time.

[2019-06-18 16:43] DesignByOnyx commented on #146
Would you consider allowing special comments to wrap around tests which should throw? Tests might be written like this:

[code]

You would then have a multi-phase parse:
1. Strip out all `EXPECT_ERROR` blocks - easily done with regex.
2. Replace each error block with some `/* unique_token */` so it can be re-injected later
3. Parse the file without any error blocks
4. For each error block... one a

[2019-06-18 17:26] mirisuzanne commented on #146
@DesignByOnyx I'm open to discussing something like that.

While it requires less change to your project code (no special mixin), it also removes the ability to run your tests in pure Sass. I wonder if we could work around that by doing something like (pseudo-sass):

[code]

[2019-06-21 16:44] DesignByOnyx commented on #146
Would `True` loop through each assertion and dynamically set `$compile: true` one at a time? If so, I think that's an excellent idea. Personally, I wouldn't even document the second parameter and leave it to `True`. Also, there's talk of introducing [`@try/@catch` directives into the language itself](https://github.com/sass/sass/issues/2619) - though it seems a long ways off.

[2019-06-21 17:36] mirisuzanne commented on #146
Yep, exactly.

- The second parameter might be useful when authoring tests?
- If not, we should probably remove it as a parameter entirely, and use a global variable instead.

Yeah, Nex3 asked me if it would be useful, and I pointed her to our current ugly workaround as the clear use-case. Not sure what will come of it, but agree we shouldn't count on it any time soon.

Next Steps: Do you want to

[2019-06-21 18:33] DesignByOnyx commented on #146
If you can give some pointers on where to start, I'd appreciate it as it would save me some time. The biggest unknown to me is how to figure out the `describe/it` block in which the assertion was made and appending the results to the correct context. Let's start with a simple block of code for discussion:

[code]

1. On first run, the `assert-error` mixin is a no-op and it never renders its $conte

[2019-06-21 19:00] mirisuzanne commented on #146
I can stub out the Sass in a branch so you have a real sample to work from. I think the JS currently works by parsing that CSS output, so:

1. Yes, but also the `assert-error` mixin *will* generate a comment in the output CSS - which is (I think) what we parse to generate the JS report. We can play with what information needs to be in that comment, but I'll start with something basic: the module,

[2019-06-21 20:31] DesignByOnyx commented on #146
I've been digging through the code I think I figured out a good strategy for this and am going to take a stab at it. Feel free to save your time on stubbing things for right now as I think what I'm doing should work well and not require any difficult parsing.

[2019-06-27 13:45] schalkneethling opened #150 "Testing output that contains html[dir="
First off, thank you for this great tool. I am currently writing a test for a `mixin` that outputs something like this:

[code]

The problem is, when I use the `output`, `expected` form of a test, the expected would be the following:

[code]

Is there a way to prevent the output of the `.test-output` class? I thought of using `@include contains` but this does not work either:

[code]

## Test outp

[2019-06-27 16:05] schalkneethling commented on #150
Figured it out. The docs actually mention this:

[code]

Changing the test as follows works:

[code]

[2019-06-27 16:05] #150 closed

[2019-06-28 15:31] mirisuzanne commented on #150
🎉 docs! Glad you got it working! 😄

[2019-08-08 18:58] pattisahusiwa opened #151 "How can we test a placeholder?"
[code]

Consider this code.
[code]

How can we test it? Only `use-mixin` is passed.
[code]

Thank you.

[2019-08-08 19:33] mirisuzanne commented on #151
Because of the way `@extends` are handled in Sass, I’m not sure there is a good way to test it. The closest you could get is by adding a placeholder of the same name inside your assertion, and then testing the selector created - but that test wouldn’t be isolated, and I’m not sure it would do much good.

I’d be open to ideas on how that feature could be added, but trying to think through it I don’

[2019-08-08 20:24] pattisahusiwa commented on #151
Yes, you're right. At the moment, we can't test placeholder.

[2019-09-10 18:10] mirisuzanne opened #153 "support Sass module syntax"
See:
- https://github.com/sass/sass/blob/master/accepted/module-system.md
- https://sass-lang.com/documentation/modules
- npm `sass@1.23.0-module.beta.1`

This will be a breaking change, and require a major release.

[2019-09-29 14:10] idangoldman opened #154 "Making of Jest Runner Integration"
Hello,

I love `True` and it helped me write tests for SCSS, now I want to help it and make a `Jest` runner package for it.

Before starting, I wanted to get your view on the matter and what should I know from the `True` side that will come in handy and make this integration easier?

[2019-09-29 17:58] mirisuzanne commented on #154
Thanks @idangoldman! @jgerigmeyer do you want to jump in here?

[2019-09-30 14:31] jgerigmeyer commented on #154
Sounds good to me! I don't have a lot of experience with custom Jest runners, but I'd be happy to test/review a PR when you have one ready. Do you have specific questions about True integration with Jest? See our [docs](https://github.com/oddbird/true#using-mocha-jest-or-other-js-test-runners) or [package.json](https://github.com/oddbird/true/blob/master/package.json#L53) for how True is already t

[2019-10-01 09:33] idangoldman commented on #154
Ok, thanks for the support! I will play with some code and let you review and test what I will come up with.

[2019-10-11 02:43] geotrev opened #155 "TypeError on sass-true `describe` mixin and incorrect report"
Hello friends!

First issue here. I'm trying to set up `sass-true` for one of my projects. I'm using `node-sass` and a shim for jest. All of the setup seems to be working fine. Jest recognizes my shim and attempts to run the result.

However, as the title says, my setup keeps giving this error:

[code]

Here's my shim:

[code]

The above works fine. I tried wrapping it one level deeper with an `it

[2019-10-14 15:27] MansoorBashaBellary opened #156 "dart sass erroring up `no such file or directory` for sass true"
I have recently started migrating to `dart-sass` instead of `node-sass`. While using `node-sass`. `sass-true` was all working fine. On using `dart-sass` and updating `sass-true` to `5.0.0`, i am getting `no such file or directory` on running tests.

## Steps to reproduce:

1. Checkout the repo: https://github.com/MansoorBashaBellary/dart-sass-true
2. Then do `yarn`
3. Then do `yarn test`

On doing

[2019-10-15 02:31] mirisuzanne commented on #155
I assume your Sass actually says `@include assert {…}` rather than `@assert {…}`?

The error does make me think it's an issue on the JS end, especially if you aren't able to reproduce it with a direct Sass compile. (Sass isn't able to run the output comparisons, which is why you don't get any pass/fail for "output to CSS" tests unless you use JS).

[2019-10-15 05:23] geotrev commented on #155
Ah, yes, you're correct, it's `@include assert {`.

I'll recheck my JS. I was basing my setup off this guide: https://itnext.io/setting-up-sass-unit-testing-in-your-project-b683a2e8ac03

[2019-10-15 13:53] davidcmoulton commented on #156
I've just had a similar issue. I fixed it in my case by [removing the sass injection into the `trueOptions`](https://github.com/MansoorBashaBellary/dart-sass-true/blob/master/test/test-scss.spec.js#L25), and then the paths to the test files resolved properly. Note that this is using Dart Sass 1.23.0, and seems to go against [the docs](https://www.oddbird.net/true/docs/) at the section "For sass/da

[2019-10-15 14:05] davidcmoulton commented on #153
Really appreciating this testing framework. Being able to unit sass functions and mixins is just awesome! 😀

I'm looking into migrating our codebase to use sass modules as soon as we can. Is there any ball park forecast of when True might support them? I appreciate it's probably a lot of work.

[2019-10-15 14:18] MansoorBashaBellary commented on #156
Tests working fine on removing `sass` injection from `trueOptions` conveys that you are using `node-sass`. While i was using `node-sass`, unit testing with `sass-true` was all working fine. On starting to use `dart-sass`, i am getting this issues. So, let's expect appropriate fix for this issue instead of migrating to `node-sass` back.

[2019-10-15 14:28] mirisuzanne commented on #153
@davidcmoulton I don't think you'll need to wait on us for that. The module system is designed to  be fully backwards compatible. Try it out, and let us know if you run into any issues!

[2019-10-16 04:07] mirisuzanne commented on #155
Let us  know - could be an issue in our JS as well? @jgerigmeyer would you need more info to look into this?

[2019-10-21 10:56] idangoldman commented on #154
20 days later and here is the kickstart stone for SASS True jest runner.

You can go over the git repo of the runner here-> [jest-runner-sass-true](https://github.com/idangoldman/jest-runner-sass-true)

The only roadblock holding it from working properly is that I wasn't able to inject **Jest's** `describe` and `it` into the runner for `sassTrue.runSass` to work properly (it works fine until it ne

[2019-10-31 08:54] dwightjack commented on #156
I'm not sure if that's the same issue as the one reported in https://github.com/sass/dart-sass/issues/710#issuecomment-548264535 (ie: jest + dart-sass + sass-true) but at the moment it looks like it's working by setting `"testEnvironment": "node"` in jest.

I guess the default `jsdom` environment has some sort of incompatibility with `dart-sass`.

[2019-11-01 12:01] MansoorBashaBellary commented on #156
Thank you @dwightjack . `testEnvironment`: `node` fixed this issue. Thanks. Closing this issue

[2019-11-01 12:01] #156 closed

[2019-11-25 10:42] harshaqq commented on #88
I am trying with `nyc --reporter=text mocha` but it's not generating the coverage,  trying to figure out why it's not generating coverage

[2019-12-03 22:09] et1421 commented on #155
@geotrev You are missing brackets around describe and it:

[code]

Is working for me.

[2019-12-04 03:08] geotrev commented on #155
Aha, thank you @et1421! I had given up on this. hah

[2019-12-04 03:08] #155 closed

[2020-01-14 11:23] Psixodelik opened #158 "Include sass in output"
Hello.

Sorry to ask a question in issues. Tell me, please, how to include a file in output? I want to test the rules inside SCSS.

My JS:

[code]

My SCSS file:

[code]

Test file:

[code]

How to get SCSS inside Output?

[2020-01-14 19:04] mirisuzanne commented on #158
True is designed to test the output of functions and mixins, rather than plain (s)CSS. If you want to test that header code, you'll need to wrap it in a mixin:

[code]

Then you can call the mixin from your tests:

[code]

There will be new ways to handle this once we move over to the sass module syntax, which provides a core `load-css()` mixin – but that's for the future sometime…

[2020-01-14 19:04] #158 closed

[2020-02-07 17:36] jgerigmeyer commented on #154
@idangoldman Sorry for the delay -- I just played with your custom runner a bit.

Yeah... that is weird. 🤷‍♂  It seems like custom runners themselves don't run in the "Jest" environment -- so there's not an obvious way to access `describe` and `it`.

Interesting. I actually like the idea of decoupling True from test runners, if possible. Would you be interested in submitting a PR to True to get th

[2020-02-12 02:13] blackfalcon commented on #65
I am on v5.0.0 and it appears that the issue has returned.

For example, the following Sass code in my project  ...

[code]

When used in context will output the following CSS ...

[code]

The True output appears to be the following ...

[code]

This issue causes any mixin with a parent selector `&` to fail the True test.

[2020-02-12 04:15] johncrim commented on #156
I also encountered the same issue.

I had to create a separate jest.config.js for my sass tests, because my other jest tests are (Angular) front-end tests, and require jsdom. If I set `testEnvironment: 'node'` in my primary jest config, or `--env node` on the command line (equivalent), all the front-end tests fail b/c they require jsdom.

Note that I only saw this specific issue on Linux - on wind

[2020-02-12 17:02] mirisuzanne commented on #65
Hi @blackfalcon - it's been a while, didn't know you were using this. Hope you're well!

The `.test-output` selector is added by default, so you're able to test mixins without selector output. But you can [remove that](https://www.oddbird.net/true/docs/api-assert-output.html#mixin--output), by setting the `$selector` argument to `false` in the `output()` and `expect()` calls.

[2020-02-26 04:39] strarsis opened #159 "Compare with decimal?"
A particular function can return a decimal number `2.0`, but `sass-true` `assert-equal` still fails with an expected number of `2.0`. This is probably caused by rounding? Can rounding be taken into account, ensuring a specific precision?
Library and test code against: https://github.com/strarsis/sass-math-pow/blob/master/test/test.scss

[2020-02-26 17:58] mirisuzanne commented on #159
We use Sass built-in comparisons, without any modification of the values. If Sass considers them equal, that's the result you'll get from True. We do provide the `$inspect` [parameter](https://www.oddbird.net/true/docs/api-assert-values.html#mixin--assert-equal) for use-cases where you want to test something more specific, I'm not clear if that solves your problem?

If you find a way to state the

[2020-02-26 20:18] strarsis commented on #159
@mirisuzanne: Thank you for your answer. A fix/workaround to this precision issue was indeed rounding the actual number before comparing it.

[2020-02-26 20:18] #159 closed

[2020-03-05 19:09] iamnewton commented on #153
@mirisuzanne so much thanks for all of the work you've put into this project and the numerous blog posts I've read about the new module system.  Loving working with it but having an issue getting `dart-sass` and `true` to work with `mocha` out of the box.

[code]

Getting this as an error and wondering what I'm doing wrong.  Can provide more if that helps.

[2020-03-05 19:18] mirisuzanne commented on #153
@iamnewton it depends on how you are doing the import - likely you are just missing the namespace on the mixins and functions:

[code]

you could turn off the namespace for either or both used modules, by adding `as *` to the end of an `@use` rule. That will pull the module functions/mixins/variables into the global namespace. Safest to choose one module or the other, in order to avoid potential n

[2020-03-05 20:27] iamnewton commented on #153
Yeah, I figured it was something I was doing wrong.

[code]

This is my test scss; are you suggesting that I now have to import this file into each test file?

[2020-03-05 20:53] mirisuzanne commented on #153
Ah, not exactly - but almost. :)

[code]

In each test module, you will need to import both `true` and the code to be tested. You can import the entire `../src` if you want, or the individual module you are testing (whatever file defines `best-contrast` in your example above).

So:
- no, you don't need to `@use` the test entrypoint file in each test-module
- you *do* need to `@use` both True and t

[2020-03-06 04:16] iamnewton commented on #153
Oh my god!!! Thank you so much.  I got it all to work.

[2020-03-15 20:01] silvinabt87 opened #161 "How to test @each and & with True"
I've found the documentation to test mixins and functions, but I cannot find the way to test @each and how classes are generated with "&". I'm trying to integrate this library in an open source project and I'm having a hard time doing it.
As an example, I would need to test the following:

[code]

If you could help me with this, I would appreciate it!

[2020-03-15 21:17] mirisuzanne commented on #161
Hi @silvinabt87 - you should be able to test that exactly like you test a mixin:

[code]

By default, `output()` and `expect()` are already nested inside a selector. If you are using `&` parent-selector in your loop, that generated selector will factor in. You can either put matching parent-selectors in both blocks, or you can handle it manually and [turn off our default with `$selector: false`](h

[2020-03-17 18:43] silvinabt87 commented on #161
Thank you for the answer! I'm trying it out with my code, but I was wondering: I will only run @each once, so is it useful to test it this way? Is there another way to test @each?
Thanks in advance

[2020-03-17 19:02] mirisuzanne commented on #161
Yeah, it might feel odd to create a single-use mixin, but the more I think about it, that's probably what I would do. By moving the loop into a mixin, you can both _name it_ and _test it_.

[2020-04-12 10:30] idangoldman commented on #154
@jgerigmeyer Sorry for my delay as well... Missed the notification 😅

Yeah of course, didn't want to start writing anything before getting an approval from you. I will throw something together and submit a PR.

[2020-04-21 06:26] Psixodelik opened #163 "Selectors orders with contains assert"
Hello

Is it possible to force tests not to check specific selector sequences and their order?

There is such a code:

[code]

I check as follows:

[code]

If you slightly change the original code, then the tests stop passing, although the meaning does not change. The order of the selectors changes, but in total they give the same result in terms of styles

[code]

Test output:

[code]

Is there a

[2020-04-21 16:34] mirisuzanne commented on #163
You'll need individual `contains` for each selector block:

[code]

[2020-04-21 16:55] mirisuzanne commented on #163
Sorry, I didn't read that closely enough the first time.

The `contains` feature still requires an exact match, just not a match with the full output. You could combine multiple `contains` to create a more flexible test, but not one that is clever about selector ordering. True doesn't have that level of parsing knowledge about how CSS selectors work, or what would be "acceptable" reordering.

[2020-05-21 05:24] deepak0174 opened #164 "Doesn't work on dart-sass ("sass": "^1.26.5")"
Code is working in node-sass but as soon the sass compiler is changed to sass (dart-sass) it shows an error `encountered a Declaration exception`

In short same code won't work if compiler is changed to dart-sass

dart-sass recently added some new features in its latest release, and it is the only implementation available with sass latest module system,

[2020-05-21 19:13] mirisuzanne commented on #164
I'm using True (5.0.0) with Dart Sass (1.26.5) without issues, so I'll need a bit more detail to help track this down. Are you using the latest version of True? Is there more detail provided with the error? Can you isolate what code is causing that error?

[2020-05-22 04:33] deepak0174 commented on #164
Error above occured in monorepo project, But even in normal setting dart-sass doesn't work.
[sass-true-bug-repo](https://github.com/deepak0174/sass-true-dart-bug.git)

[code]

This repo will show that same code works on node-sass but fails in dart-sass.

`scss.node-sass.test.js` -> node-sass
`scss.dart-sass.test.js` and `scss.dart-sass-2.test.js` -> dart-sass

[code]

[2020-05-22 05:05] deepak0174 commented on #164
Error above occur in monorepo project. But still same code won't work on normal package if i change the compiler to dart-sass(sass).
[sass-true-dart-bug](https://github.com/deepak0174/sass-true-dart-bug)

[code]

`scss.node-sass.test.js` is node-sass setup file

`scss.dart-sass.test.js` and `scss.dart-sass-2.test.js` are dart-sass setup file.

[code]

[2020-05-22 20:10] mirisuzanne commented on #164
I can confirm I'm getting the same error from that repo. We'll look into it!

[2020-05-22 21:09] jgerigmeyer commented on #164
@deepak0174 This is an error with your Jest configuration.

Adding `--env=node` to your `jest` command fixes it.

Cf. https://jestjs.io/docs/en/configuration#testenvironment-string

[2020-05-22 21:09] #164 closed

[2020-06-16 13:11] maximelebreton opened #165 ""Can't find stylesheet to import" error with sass, and no problem with node-sass"
Hello, and first of all, thanks for this library!

I have this structure based on `parcel`, `sass` and `jest`:
[code]

And in `styles.scss`, some @functions are using `sassdash`, and everything works as excepted.

**src/styles.scss**
[code]

**test.scss**
[code]

**test__sass.js**
[code]

But when I try to **test** it with **jest**, i have this **error message** from **test_sass.js**:

[code]
Note

[2020-06-16 18:17] maximelebreton commented on #165
Ok strange, I try to install `node-sass` and remove sass: `require('sass')` property, and it's working perfectly...!

Anyway I'm still interested to understand why it's not working with dart `sass` (because it's a bit pity to have both packages in the same repo).

Thanks!

[2020-06-16 18:30] jgerigmeyer commented on #165
@maximelebreton Thanks for reporting! Would you be willing to push a slimmed-down repository to reproduce the bug? I'd be happy to take a look.

Does it work if you try `includePaths: [path.join(__dirname, '../node_modules/sassdash')]`?

[2020-06-16 18:38] maximelebreton opened #166 "Tests aren't retriggered when .scss test file is modified (with jest --watch)"
Hello there!

When I'm using **True** with **Jest** in watch mode (`jest --watch`), if my `test.scss` file is modified, the tests aren't retriggered.

I assume it's because Jest watch only **.js** files and not **.scss** files, but maybe there is a trick to handle this?

Here are my files:

**test.scss**
[code]

**test__sass.js**
[code]

Thanks for your help!

[2020-06-16 18:49] jgerigmeyer commented on #166
@maximelebreton Thanks for reporting! Does it work to add `scss` to your `moduleFileExtensions` setting in `jest.config.js`?

https://jestjs.io/docs/en/configuration#modulefileextensions-arraystring
https://stackoverflow.com/a/58935203/854407

[2020-06-16 18:58] maximelebreton commented on #165
@jgerigmeyer yes! here it is, but I can't make it work on codesandbox:
https://codesandbox.io/s/true-test-case-with-sass-5p4fy

(you can export it and install locally with file > export to zip)

Is it enough?

[2020-06-16 19:25] jgerigmeyer commented on #165
@maximelebreton Ok, I have it working, but I'm not sure why it was working for you with node-sass but not dart-sass...

I made one typo fix: in `__tests__/test.scss`, the import should be `@import "../src/styles";` not `@import "../../src/styles";`. You can also just `@import "true"` if you like, but what you have is fine too.

Then running `yarn jest --env=node` works as expected (with either `no

[2020-06-16 19:25] #165 closed

[2020-06-16 19:26] jgerigmeyer opened #167 "Document Jest "--env=node" requirement."
See https://github.com/oddbird/true/issues/164#issuecomment-632909817

[2020-06-16 19:31] jgerigmeyer commented on #166
@maximelebreton Confirmed that this seems to work for me with the following Jest config in `package.json`:

[code]

Filing an issue to add this to the True docs.

[2020-06-16 19:31] #166 closed

[2020-06-16 19:32] #163 closed

[2020-06-16 19:32] jgerigmeyer opened #168 "Document Jest "moduleFileExtensions" setting to watch scss test files."
See https://github.com/oddbird/true/issues/166#issuecomment-644969368

[2020-06-16 19:34] #161 closed

[2020-06-16 19:45] #151 closed

[2020-06-16 22:14] maximelebreton commented on #165
Yes!
`jest --env=node` fix the `sass` issue!

A mention on the documentation should be great!

Thanks @jgerigmeyer

[2020-06-16 22:55] maximelebreton commented on #165
Just for posterity, here is a working **node codesandox** configured with **Jest** and **Sass** (dart), and a
**jest.config.js** file (to remove the `--env=node` arg, and add `.scss` watching when using `jest --watch` or `--watchAll`): https://codesandbox.io/s/sass-true-parcel-jest-sassdash-nbnuq

[2020-06-16 23:02] maximelebreton commented on #166
Thanks @jgerigmeyer!

Unfortunately, I can't make it work on my local config, and I don't know why,
but it's working on this **node codesandbox** with the mentionned config in **jest.config.js**: https://codesandbox.io/s/sass-true-parcel-jest-sassdash-nbnuq

**jest.config.js**
[code]

So i need to deep check what's wrong on my local config, and I'll give some news if any.

[2020-07-17 16:53] #153 closed

[2020-07-17 16:53] #167 closed

[2020-07-17 16:53] #168 closed

[2020-09-05 10:20] oscarmarcelo opened #173 "Feature Request: Allow CSS output when using test frameworks"
AFAIK, CSS output (compiling to a `.css` file) only occurs if we run those tests through Sass compilation, but not when running through `sassTrue.runSass` using a test framework.

Is it possible to make `runSass` still output the test results to CSS files for a deeper, manual inspection?

[2020-09-05 19:04] mirisuzanne commented on #173
I like this idea, since I often run both. @jgerigmeyer what do you think?

[2020-09-06 12:19] oscarmarcelo opened #174 "Document mixin flow issues when using `error` mixin"
I found a kind of edge case, and honestly I don't think that there may be a viable solution without Sass implementing [try/catch](https://github.com/sass/sass/pull/2850) or something similar, but I'm pointing this anyway in case someone finds a solution, since I didn't find anything yet.

Consider the following:

[code]

Now if we replace `@error` by True's `+throw.error`:

1. `+throw.error` now `

[2020-09-06 16:48] mirisuzanne commented on #174
Hmmm, I think if we force error returns to be strings before output, that might do it? `'#{$output}'`

[2020-09-06 16:49] mirisuzanne commented on #174
But you're right, we can't stop compilation, because that defeats the purpose.

[2020-09-06 18:55] jgerigmeyer commented on #173
@mirisuzanne Yeah, that makes sense, and wouldn't be difficult to add. At the minimum I think we'd need to add another True option for `outFile` (path where CSS file should be written). If we want to support sourcemap output too, we'd need additional `outMap` or something. You want to propose an API and I'll implement it?

[2020-09-08 19:02] oscarmarcelo commented on #174
I'm confused. Can you give an example, please?

[2020-09-09 19:05] mirisuzanne commented on #174
@oscarmarcelo I'm sorry, I totally misread the issue and solved the wrong problem.

I don't see any way to make Sass stop compilation of a single mixin or function, without stopping the entire compilation process - which is what you get from a built-in `@error` call. So I don't think there is any fix that True can implement for this.

But you do have the tools to implement it on your end if necess

[2020-09-23 08:38] dosanj opened #175 "Can we test selectors with sass-true ?"
Let's says i've a sass file which contains selector like this.
.button {
background-color: red;
}

I want to create a test which will check if background-color of .button is red or not. otherwise it should fail. I tried using @extend inside @include output but it doesn't work.

[2020-09-25 16:01] hochan222 opened #176 "sass-true compatibility"
First of all, thank you for creating a library so that I can conveniently unit test with sass.

It was installed according to the following dependencies, and it was successful.

[code]

However, if you install the latest version for each module, it looks like the following.
The following version compatibility issues occur.

[code]

![image](https://user-images.githubusercontent.com/22424891/942891

[2020-09-25 17:22] mirisuzanne commented on #176
The latest upgrade does require Sass Modules, currently only in Dart Sass.

Node Sass is likely to [deprecate soon](https://github.com/sass/node-sass/issues/2952) as an official Sass implementation, since the project has fallen several years behind the Sass specification. It's highly recommended that you move to Dart Sass, which is the reference implementation, and always has the latest feature su

[2020-09-25 18:04] mirisuzanne commented on #175
True is really set up to test output from Sass features (functions, mixins, and variables) rather than testing plain CSS. We don't have a way to test anything about _the rest of your styles_, only the code that you explicitly include in a True test.

Using `@extend` would be a clever work-around, but Sass moves _extending_ selectors to the location of the _extended_ selector - meaning it is outsid

[2020-09-25 18:07] #175 closed

[2020-09-29 21:24] sam-1994 commented on #88
Has someone made progress to generate some coverage report?
Especially with using jest for the execution.

[2020-10-01 20:29] mirisuzanne commented on #88
@sam-1994 Not that I've seen yet. Still happy to hear a more fleshed out proposal, and/or review a PR if someone wants to work on it.

[2020-10-15 22:32] #174 closed

[2020-10-15 22:32] #176 closed

[2020-10-17 17:24] oscarmarcelo commented on #174
I'm sorry for opening this again, but I think I have viable solution for this issue.

I'm still trying to understand how `+contains` work, but what if we check if `@content` **starts with** something (in this case, the error message)?

In the method I used in the example (using input validation to interrupt the mixin flow instead of controlling with `@if` statements) the only thing that matters to

[2020-10-18 18:59] mirisuzanne commented on #174
The `contains` mixin compiles exactly the same as `expect`, but with a different wrapping comment to signal what the JS integration should compare between the blocks. You can use that to see if there is an error in the output (regardless of position) - but it will not stop compilation from throwing a Sass error that breaks rendering.

That might be useful in _somewhat similar_ situations, but the

[2020-10-18 19:07] mirisuzanne commented on #174
The contains mixin compiles exactly the same as expect, but with a different wrapping comment to signal what the JS integration should compare between the blocks. You can use that to see if there is an error in the output (regardless of position). I'm not sure why the `starts-with` logic would matter here, as you can check for a specific error in the output. We could add starts- or ends-with, but

[2020-10-18 21:00] oscarmarcelo commented on #174
Yes, you are totally right!
I got so carried away with the idea that I forgot about Sass native errors. 😅

I guess I really have to abandon the method of using input validation to decide wether the mixin should continue its flow or not...

[2020-12-12 09:15] P233 opened #181 "Is there any way to test private members?"
I just encountered an issue with testing the sass [private members](https://sass-lang.com/documentation/at-rules/use#private-members). I may not use any private members and just `@forward` some of the functions and mixins. But just wondering if there is any way to directly test private members? Thanks!

[2020-12-12 19:28] mirisuzanne commented on #181
I don't think there's a good way, no. What I've done instead is create "private" modules – which are only used internally, and never forwarded to the end user.

[2020-12-13 00:32] P233 commented on #181
Got it. Thank you for the quick response. 👍

[2020-12-13 00:32] #181 closed

[2021-05-20 15:20] mauro1855 opened #186 "Can't find stylesheet to import: @use 'messages'"
Hi,

In my team we built a React application using node-sass, and we have some tests that we are running with sass-true 5.0 - everything is working great.
Today we decided to get rid of node-sass and move to sass, so we upgraded sass-true to 6.0.1 version. The application itself runs without problems, but now the sass-true tests don't run, and I have the following message:

[code]

Could this be a

[2021-05-20 16:55] mirisuzanne commented on #186
Hi @mauro1855, I'm not able to reproduce this based on what you've provided. Can you show some more context for how you are using sass-true in your project? Are you able to create a reduced/simplified test-case that I can run here?

[2021-05-20 18:43] mauro1855 commented on #186
Hi @mirisuzanne, thank you for replying. I'll prepare a test repository in the next couple of days and let you know.

[2021-05-21 10:00] mauro1855 commented on #186
So, I was preparing the test repository and trying a couple more things, and I ended up finding the issue.

It is written in the sass-true documentation that we need to run Jest with the **node** environment, while my project uses jsdom, which is the react default (CRA/react-scripts). As soon as I changed the --env to node, the problem was fixed... but this config broke all my react tests.

So, es

[2021-05-21 17:50] jgerigmeyer commented on #186
@mauro1855 It works for me locally if the docblock is at the _top of the file_:

[code]

Alternatively, it might make sense to split your Sass tests into a different directory (or using a different naming pattern e.g. `*.sasstest.js`) so that they aren't picked up by the CRA test-runner, and then running them via a separate command (e.g. `jest --testRegex .sasstest.js --env=node`). But that depend

[2021-05-22 11:44] mauro1855 commented on #186
@jgerigmeyer, you are totally right, it works if it's a the top of the file! In the jest documentation it is written explicitly _top of the file_, but I guess I looked straight at their example and thought it could be right before the tests. My bad!
Thank you for taking a look, now everything is fine.

As for your suggestion of splitting it, since it's working now I'd rather have all the tests sui

[2021-05-22 11:44] #186 closed

[2021-06-12 15:11] roydukkey opened #189 "Clean up published package content"
Would you be open for a PR which cleans up the contents of the [published package](https://unpkg.com/browse/sass-true@6.0.1/)?

Limit the package the include:

- `./CHANGELOG.md`
- `./LICENSE.txt`
- `./README.md`
- `./_index.scss`
- `./package.json`
- `./lib/**`
- `./sass/**`

[2021-06-12 21:20] roydukkey opened #190 "Package name in conditional throws error."
Example Test
[code]
Result
[code]
One Solution
[code]

There are multiple ways to handle this. Maybe this isn't even something to fix, but rather simply note.

[2021-07-09 10:44] sissingclay opened #192 "Any css starting with [dir=rtl] is failing"
Hi All, when the css selector starts with [dir=rtl] might be any attribute selector the test always fails.

css
[code]

Test
[code]

[2021-07-09 15:51] mirisuzanne commented on #192
When writing output-css tests, we append selectors by default - but you can remove them to use your own selectors. See the `$selector` argument available on both the [`output()` and `expect()` mixins](https://www.oddbird.net/true/docs/api-assert-output#mixin--output).

[2021-07-12 15:50] sissingclay commented on #192
Thanks, @mirisuzanne that works great.

[2021-07-12 17:07] #192 closed

[2021-12-06 19:00] robertmaier opened #205 "@types/sass-true"
Hey there,
I've created a new PR in the DefinitelyTyped repository to get a first version of sass-true types in.
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/57581

Could some of the maintainers maybe quickly look over the PR to identify any issues with the types?

Thanks and Best Regards,
Robert

[2022-02-11 16:51] borisdamevin opened #209 "Lerna monorepo config"
Hi,

I have one issue with tests inside monorepo build with Lerna.

When I target some one mixins and if on top I call with `@use` another internal packages, with Lerna naming convention, call with final package name `@scope/package-beta`, not with relative path `../..`, Jest can't find the `@use`.

Example: https://github.com/magnesiumlabs/magnesium/runs/5159436914?check_suite_focus=true

How I c

[2022-02-11 17:52] mirisuzanne commented on #209
@jgerigmeyer might be able to help here better than I can. I know the `@` syntax is not part of Sass, so you likely have some other build tools involved (webpack?) for resolving those URLs, and my guess is that build step is not also being run for your tests?

[2022-02-11 18:55] jgerigmeyer commented on #209
@borisdamevin When True runs your tests, Sass doesn't know where to find nested npm dependencies inside your lerna packages. This is because you're only pointing to the top-level dependencies (`'./node_modules'`) in your `includePaths` setting. The following change in `scss.spec.js` should fix it:

[code]

(It also looks like you're not using the custom `importer`, so you could also remove that.)

[2022-02-11 18:55] #209 closed

[2022-02-11 20:58] borisdamevin commented on #209
So simple... Thank you!

[2022-02-11 22:00] borisdamevin opened #210 "Error return in console"
Hi,

I don't if is possible, but the console log can be more precise when we have an error?

![image](https://user-images.githubusercontent.com/1703605/153676196-d308c631-3495-45f0-94a2-10009e6ea70c.png)

The error is the `400` instead of the `700`, but we need to read all line before find the problem!

[2022-02-16 19:16] jgerigmeyer commented on #210
Hi @borisdamevin, I can take a quick look to see what the lift would be to make that improvement. Could you provide a sample repo for your failing test?

[2022-02-17 21:28] borisdamevin commented on #210
Hi @jgerigmeyer

Testing repo here: https://github.com/borisdamevin/magnesium

[2022-02-18 18:20] jgerigmeyer opened #212 "Add TypeScript definitions."
- convert to TypeScript
- build and package types

This would close #206, and make #205 (and https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/sass-true) unnecessary.

[2022-02-18 19:03] #189 closed

[2022-02-22 22:06] jgerigmeyer opened #218 "Support newer Sass JS API."
https://sass-lang.com/documentation/js-api

[2022-02-23 17:00] jgerigmeyer commented on #173
@mirisuzanne Is this still a priority? I don't remember where we ended up...

[2022-02-23 19:32] mirisuzanne commented on #173
I don't think this is a priority. While it might be useful in some cases, you can already achieve this by running tests through both Sass and a test runner. I'm not sure an API would add much to that - we would basically be doing the same. So I'd probably just suggest people create an npm script to combine those commands if they want it.

[2022-02-23 19:32] #173 closed

[2022-02-24 17:43] #205 closed

[2022-02-24 17:43] #212 closed

[2022-02-25 10:32] borisdamevin opened #222 "Support `@at-root`"
Hi,

Using the `@at-root` break the test workflow.

[code]

![image](https://user-images.githubusercontent.com/1703605/155699658-39f2a2e4-340d-4d1c-8fcd-eda2feac19d0.png)

[2022-02-25 16:46] mirisuzanne commented on #222
Both the [`output`](https://www.oddbird.net/true/docs/api-assert-output#mixin--output) and `expect` mixins apply a wrapping selector by default. That's what's generating the `.test-output` class, which is the difference between your input and expected results. You can either use at-root on the expected result, or use the (true/false) `$selector` argument to turn off the extra selector.

[2022-02-25 16:56] borisdamevin commented on #222
@mirisuzanne Work great, thank you!

I not sure to see thi option reference in documentations. :(

[2022-02-25 16:56] #222 closed

[2022-02-25 17:26] mirisuzanne commented on #222
The selector argument is documented. I suppose we could flesh that out with more examples. Are you interested in contributing a PR for that?

[2022-03-02 16:30] #218 closed

[2022-03-18 09:08] romaricpascal opened #224 "Provide a way to register with require.extensions"
It's be great if the `sass-true` package was providing a way to register the `.scss` into Node's `require.exensions`. It'd allow test tools like Mocha (Jasmine too) to require `scss` files directly, compiling them on the fly into a bit of JavaScript running sass-true.

This is what I have working for `sass-true` 6.1, but looking at the current main branch, I believe it'll need some adjustments:

[

[2022-03-18 13:47] jgerigmeyer commented on #224
@romaricpascal Interesting idea! While I'm a bit hesitant seeing that node's `require.extensions` is [officially deprecated](https://nodejs.org/api/modules.html#requireextensions), it does seem like this would be useful -- and other projects are still using similar workarounds. I might lean toward using something like [pirates](https://github.com/danez/pirates) instead of the `require.extensions`

[2022-03-18 15:56] mirisuzanne commented on #224
@jgerigmeyer This is outside my expertise, so I'm not sure what the tradeoffs are. Feel free to handle the JS API in whatever ways make sense to you. :)

[2022-04-06 18:48] borisdamevin opened #229 "Code coverage"
Hi,

I don't if is possible, but can we have code coverage with sass file?

Works with us files, so way not with sass!

Thank you.

[2022-06-08 15:32] borisdamevin opened #231 "Don't work with `glob` 8"
Hi @mirisuzanne ,

With new `glob` 8.0 the test config doesn't work anymore.

| Package |  Version|
| --- | --- |
|`glob`|`8.0.3`|
|`sass-true`|`6.1.0`|

[code]

[2022-06-08 20:08] borisdamevin commented on #231
Hi @jgerigmeyer

You can check here https://github.com/unsass/css/tree/update-glob _(branch "update-glob")_

The Github action is here : https://github.com/unsass/css/runs/6801074953?check_suite_focus=true

...but the error is not the same than local test :( .

[2022-06-08 20:15] jgerigmeyer commented on #231
@borisdamevin That's a bug in Dart Sass: https://github.com/sass/dart-sass/issues/1712

If I downgrade Sass to v1.52.1, the tests pass on that branch for me.

[2022-06-08 21:14] borisdamevin commented on #231
Ok with Sass 1.52.1 it"s work better but, I got something weird... @jgerigmeyer

On local a got this error

![image](https://user-images.githubusercontent.com/1703605/172718318-2c74e5cc-9dc4-48ae-803e-06c7c921f34c.png)

But on the action https://github.com/unsass/css/runs/6802029864?check_suite_focus=true, all work good, so just my local (windows) bug without reason.

[2022-06-09 14:46] #231 closed

[2022-06-13 15:53] mirisuzanne commented on #229
Hi @borisdamevin - closing this as a duplicate of #88. I think we're still open to this feature, but haven't had a chance to prioritize it on our end.

[2022-06-13 15:53] #229 closed

[2022-06-14 08:53] borisdamevin opened #232 "More readable logs"
Hi, @jgerigmeyer

Is possible to reduce the log when we have an error? Display only the x lines bafore and after the error, like git?

In bonus have the line number :D

Thank you!

[2022-06-14 15:56] borisdamevin opened #233 "Good way for testing a function?"
Hi, @mirisuzanne

I don't a way for test a Sass function who return a map. Only `@debug` come to my mind, but expect don't manage `@debug`.

[code]

Any idea? Thank you.

[2022-06-14 19:55] borisdamevin commented on #233
My savior!

Thank @mirisuzanne

[2022-06-14 19:55] #233 closed

[2022-06-15 22:35] borisdamevin opened #234 "Single quote vs double quote"
Hi, @mirisuzanne

On this test _(https://github.com/magnesiumlabs/lasco/runs/6909182772?check_suite_focus=true)_ Sass True expected double quote and receive single quote, but, on test code _(https://github.com/magnesiumlabs/lasco/blob/feature/tests/src/background-image/test/extend.spec.scss#L29)_ I write single quote for prevent issue, like wanted by Sass True but the expextation is still double q

[2022-06-15 23:47] mirisuzanne commented on #234
This is because of the way Sass handles quotes _around a string_ vs quotes _inside a string_.

It seems like Sass will output double-quotes for any 'quoted string' output, but your code is generating an outer string, with single-quoted inside it: https://github.com/magnesiumlabs/lasco/blob/feature/tests/src/background-image/test/extend.spec.scss#L9

I don't know any way for True to solve that prob

[2022-06-16 07:54] borisdamevin commented on #234
Ok, the only way I found is to escape the quote on test.

[code]

[2022-06-16 07:55] #234 closed

[2022-06-20 15:40] jgerigmeyer commented on #232
@borisdamevin I'm open to that. Are you thinking of an option that users can use to configure full vs minimal logging?

I likely won't get to this for awhile, but I'd be happy to review a PR if you're willing to submit one. The relevant code is in [src/index.ts](https://github.com/oddbird/true/blob/v6.1.0/src/index.ts#L89-L100), and we're currently using [jest-diff](https://github.com/facebook/jes

[2022-06-20 15:58] borisdamevin commented on #232
Yes this kind of option.

I will think about try to made a PR.

[2022-06-29 11:00] jamieomaguire commented on #88
I don't currently have the time to work solely on this, but I'd be very happy to assist others with taking this on. In case anyone offers @mirisuzanne.

[2022-09-14 14:14] borisdamevin opened #235 "Good way for testing config mixin"
Hi,

I try to find the good for testing this Sass feature (https://sass-lang.com/documentation/at-rules/use#with-mixins), but I tied many code configuration and I never get the updated option.

I miss something or it's impossible?

Thank you.

@mirisuzanne @jgerigmeyer

[2022-09-14 14:30] borisdamevin commented on #235
Ok, I was stupid.

Sorry for the noise!

[2022-09-14 14:30] #235 closed

[2022-09-15 16:33] coxrichuk opened #236 "Release of new Dart API"
I can see there are plans to release with the new Dart API

When is this estimated to be released?

[2022-09-16 12:32] jgerigmeyer commented on #236
@coxrichuk Thanks for the reminder -- this had fallen off my radar. I'll take a look today and let you know.

[2022-09-16 16:36] jgerigmeyer commented on #236
Hi @coxrichuk, I just released [v7.0.0-beta.0](https://github.com/oddbird/true/releases/tag/v7.0.0-beta.0) -- let me know if you run into any issues using it!

Assuming it works as expected, I'll do a full release sometime next week.

[2022-09-16 16:36] #236 closed

[2022-10-09 04:00] Sweetog opened #240 "Inner computation of calc argument in expect after bumping to latest sass-true and mocha"
I bumped from Node 14 to Node 16, `sass-true@4.0.0` to `sass-true@6.1.0` and `mocha@8.3.2` to `mocha@10.0.0` and a passing test is now starting to fail

[code]

[code]

Is there a way I can prevent the first `32px / 2` division operation here `$expect: calc(32px / 2 + var(--foo) * 32px / 2);` from evaluating to `16px`? (_strangely the latter division operation `32px / 2` does not evaluate_)

[2022-10-10 17:15] mirisuzanne commented on #240
Hi @Sweetog - I'm not sure! :) This isn't something that True is doing, it would be a change in Sass behavior around `calc()` or division. Likely you upgraded Sass at the same time? Maybe @nex3 could provide a better answer…

[2022-10-11 21:26] nex3 commented on #240
In Dart Sass 1.40.0, we added support for [first-class calculations](https://sass-lang.com/blog/request-for-comments-first-class-calc). Sass is now able to parse `calc()` expressions and resolve them, fully or partially, at build time. For example, when you write `calc(32px / 2 + var(--foo) * 32px / 2)`, Sass is able to simplify `32px / 2` to `16px`.

If you inject values into a `calc()` using int

[2022-10-12 20:58] mirisuzanne commented on #240
@Sweetog Closing this issue for now, since I don't think there's anything for True to do here. Hopefully that gives you what you need to get your tests working again?

[2022-10-24 15:01] blackPeppper opened #241 "how did you make expect mixin read from output mixin"
[code]

and compering the value from font size

[2022-10-25 22:58] blackPeppper commented on #241
thanks

[2022-10-25 22:58] #241 closed

[2022-10-28 08:37] blackPeppper opened #242 "how i can use true sass with vitest instead of jest"

[2022-10-28 14:51] jgerigmeyer commented on #242
@blackPeppper See a working example: https://github.com/jgerigmeyer/true-vitest

It's basically the same as using True with Jest. I'd recommend either using the [`globals: true` Vitest setting](https://vitest.dev/config/#globals), or importing `describe` and `it` from Vitest and passing those through to True.

[2022-10-28 14:51] #242 closed